{%- form 'contact', id: 'ContactForm', class: 'isolate field' -%}
  <div class="contact__fields field">
    <div class="field">
      <input
        class="field__input"
        autocomplete="name"
        type="text"
        id="Ask-name"
        name="contact[{{ 'templates.contact.form.name' | t }}]"
        value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
        placeholder="{{ 'templates.contact.form.name' | t }}"
        required
      >
      <label class="visually-hidden" for="Ask-name">
        {{ 'templates.contact.form.name' | t -}}
      </label>
    </div>
    <div class="field">
      <input
        autocomplete="email"
        type="email"
        id="Ask-email"
        class="field__input"
        name="contact[email]"
        spellcheck="false"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="ContactForm-email-error"
        {% endif %}
        placeholder="{{ 'templates.contact.form.email' | t }}"
        required
      >
      <label class="visually-hidden" for="Ask-email">
        {{ 'templates.contact.form.email' | t }}
        <span class="required">*</span></label
      >
    </div>
    {%- if form.errors contains 'email' -%}
      <small class="contact__field-error" id="ContactForm-email-error">
        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
        <span class="form__message error">
          {{- form.errors.translated_fields.email | capitalize }}
          {{ form.errors.messages.email -}}
        </span>
      </small>
    {%- endif -%}
  </div>
  <div class="field">
    <input
      type="tel"
      id="Ask-phone"
      class="field__input w-full"
      autocomplete="tel"
      name="contact[{{ 'templates.contact.form.phone' | t }}]"
      pattern="[0-9\-]*"
      value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
      placeholder="{{ 'templates.contact.form.phone' | t }}"
      required
    >
    <label class="visually-hidden" for="Ask-phone">
      {{ 'templates.contact.form.phone' | t }}
      <span class="required">*</span></label
    >
  </div>
  <div class="field">
    <textarea
      rows="10"
      id="AskMessage"
      class="text-area field__input w-full"
      name="contact[{{ 'templates.contact.form.comment' | t }}]"
      placeholder="{{ 'templates.contact.form.comment' | t }}"
      required
    >
        {{- form.body -}}
      </textarea>
    <label class="form__label visually-hidden" for="AskMessage">
      {{ 'templates.contact.form.comment' | t }}
      <span class="required">*</span>
    </label>
  </div>
  <div class="contact__button w-full">
    <button type="submit" class="button w-full">
      {{ 'templates.contact.form.send' | t }}
    </button>
  </div>
{%- endform -%}
