{% liquid 
  assign position = "vertical"
  assign pl = false
  assign pb = false
  assign ph = false
  assign ic = true
  assign variant_image_group = sec_settings.variant_image_group
  if sec_settings.gallery_layout == "columns" or sec_settings.gallery_layout == "stack"
    assign ic = false
  else
    if sec_settings.thumbnail_position
      if sec_settings.thumbnail_position == 'hide'
        assign position = "horizontal"
      endif
      if sec_settings.thumbnail_position == 'left'
        assign ph = true
        assign pl = true
        assign ic = true
      endif
      if sec_settings.thumbnail_position == 'bottom'
        assign position = "horizontal"
        assign pb = true
        assign ph = true
        assign ic = true
      endif
    else
      assign ph = true
      assign pl = true
    endif
  endif
  assign zoom_option = 'external'
  if sec_settings.image_zoom == 'inner_zoom'
    assign zoom_option = 'inner-1'
  endif
  assign enable_sticky = false
  if section.settings.enable_sticky_desktop or sticky_content
    assign enable_sticky = true
  endif
  if settings.color_swatch_trigger != blank and settings.enable_color_swatches != false
    assign option_name = settings.color_swatch_trigger | split: ','
  else
    assign option_name = 'Color'
  endif
  assign current_selected = ''
  assign position_op = 1
  for option in product.options_with_values
    for c in option_name
      if option.name == c
        assign op = 'option' | append: option.position
        assign current_selected = option.selected_value
        assign position_op = option.position
      endif
    endfor
  endfor
  assign variant_image_group = section.settings.variant_image_group
  assign default_color_option = ''
  if position_op == 1
    assign default_color_option = product.selected_or_first_available_variant.option1
  elsif position_op == 2
    assign default_color_option = product.selected_or_first_available_variant.option2
  elsif position_op == 3
    assign default_color_option = product.selected_or_first_available_variant.option3
  endif
  assign media_variant = product.media
  if variant_image_group == true
    assign variant_media = product.media | where: 'alt', default_color_option
    assign media_variant = variant_media
    if media_variant.size == 0
      assign media_variant = product.media
    endif
  endif
%}
{%- assign ratio = 1 -%}
<a
  class="skip-to-content-link btn remove-underline visually-hidden quick-add-hidden"
  href="#ProductInfo-{{ section.id }}"
>
  {{ 'accessibility.skip_to_product_info' | t }}
</a>
{%- if images.size > 1 -%}
  <media-gallery
    id="MediaGallery-{{ section.id }}"
    class="{% if ic %}d-flex flex-cols{% else %}d-block{% endif %}{% if pb %} column-reverse{% endif %}{% if enable_sticky %} sticky top-30{% endif %} product__media-gallery thumbnail-position-{{ sec_settings.thumbnail_position }} {{ sec_settings.mobile_thumbnails }}"
    style="--col-gap: 3rem;{%- if sec_settings.gallery_layout == "columns" or sec_settings.gallery_layout == "stack" -%}--row-gap: 1rem; {% else %}--row-gap: 0;{%- endif -%}"
    data-variant-id="{{ variant_id }}"
    data-media-type="{{ sec_settings.gallery_layout }}"
    data-mobi-slide-status="{% if sec_settings.mobile_thumbnails == "show" %}true{% else %}false{% endif %}"
    data-slide-position="{{ position }}"
    data-color-position="{{ op }}"
  >
    {%- if sec_settings.gallery_layout == "columns" or sec_settings.gallery_layout == "stack" -%}
        <gallery-grid
          id="GalleryViewer-{{ section.id }}"
          class="slide-section-media rounded-corner-item d-block{% if sec_settings.gallery_layout == "stack" %} layout_stack{% endif %}"
          data-items="1"
          data-nav="false"
          data-loop="false"
          data-autoplay="false"
          data-mouse-drag="{%- if is_rich_product -%}false{%- else -%}true{%- endif -%}"
          data-autoplay-timeout="5000"
          data-autoplay-button-output="false"
          data-has-thumbnail="true"
          data-axis="horizontal"
          data-mode="carousel"
          data-fix-height="false"
          data-type="gallery"
          data-gap="small"
          data-free-scroll="true"
          {% if variant_image_group %}
            data-variant-selected="{{ current_selected }}"
          {% endif %}
        >
          <template>
            <div class="content-items">
              {%- if product.selected_or_first_available_variant.featured_media -%}
                {%- liquid
                  if settings.product_image_ratio == 'adapt_to_image'
                    assign ratio = product.selected_or_first_available_variant.featured_media.aspect_ratio
                  elsif settings.product_image_ratio == 'square'
                    assign ratio = 1
                  elsif settings.product_image_ratio == 'tall'
                    assign ratio = 3.0 | divided_by: 4
                  endif
                -%}
                <div
                  class="slider-image"
                  {% if sec_settings.image_zoom == 'lightbox' %}
                    data-href="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 4096 }}" data-size="1100x{{ 1100 | divided_by: product.selected_or_first_available_variant.featured_media.preview_image.aspect_ratio | ceil }}" data-med="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 1024 }}" data-med-size="1024x{{ 1024 | divided_by: product.selected_or_first_available_variant.featured_media.preview_image.aspect_ratio | ceil }}" 
                  {% endif %}
                  {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}
                    data-pane-container
                  {% endif %}
                  data-position="{{ product.selected_or_first_available_variant.featured_media.position }}"
                  data-media-id="{{ section.id }}-{{ product.selected_or_first_available_variant.featured_media.id }}"
                  {% if variant_image_group %}
                    data-alt="{{ product.selected_or_first_available_variant.featured_media.alt | escape }}"
                  {% endif %}
                >
                  {%- liquid
                    assign is_stack = true
                    if sec_settings.gallery_layout == "columns"
                      assign is_stack = false
                    endif
                  -%}
                  <div style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ product.selected_or_first_available_variant.featured_media.preview_image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                    <img
                      {% if sec_settings.image_zoom == 'lightbox' %}
                        tabindex="0"
                      {% endif %}
                      class="rounded-corner-item"
                      srcset="
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 550 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 1100 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 1445 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 1680 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 2048 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 2200 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 2890 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                        {%- if product.selected_or_first_available_variant.featured_media.preview_image.width >= 4096 -%}{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                        {{ product.selected_or_first_available_variant.featured_media.preview_image | image_url }} {{ product.selected_or_first_available_variant.featured_media.preview_image.width }}w
                      "
                      sizes="100vw"
                      src="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 2048 }}"
                      data-zoom="{{ product.selected_or_first_available_variant.featured_media.preview_image | image_url }}"
                      alt="{{ product.selected_or_first_available_variant.featured_media.alt | escape }}"
                      {% if is_stack == false %}
                        {%- if forloop.index > 2 -%}
                          loading="lazy"
                        {%- endif -%}
                      {%- else -%}
                        {%- if forloop.index > 1 -%}
                          loading="lazy"
                        {%- endif -%}
                      {% endif %}
                      height="{{ product.selected_or_first_available_variant.featured_media.preview_image.width | divided_by: ratio | ceil }}"
                      width="{{ product.selected_or_first_available_variant.featured_media.preview_image.width }}"
                    >
                  </div>
                </div>
              {%- endif -%}
              {% for image in images %}
                {%- if image.id != product.selected_or_first_available_variant.featured_media.id -%}
                  {%- case image.media_type -%}
                    {%- when 'external_video' -%}
                      {% liquid
                        assign video_id = image.external_id
                      %}
                      {%- capture video_attribute -%}
                        {%- if sec_settings.video_looping -%}
                            loop=1
                        {% endif %}
                      {%- endcapture -%}
                      <div
                        class="slider-external-video rounded-corner-item relative"
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                      >
                        <template class="video-template">
                          {%- liquid
                              assign video_class = 'js-' | append: image.host
            
                          -%}
                          {% if image.host == 'youtube' %}
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&mute=1&loop=0"
                              class="js-youtube"
                            ></iframe>
                            {%- else -%}
                              {{ image | external_video_url: autoplay: true | external_video_tag: class: video_class, loading: "lazy" }}
                          {% endif %}
                        </template>
                        <div
                          class="video-box d-none rounded-corner-item"
                          style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                        >
                        </div>
                        <button id="Deferred-Poster-Modal-{{ image.id }}" class="btn-reset w-full overlay-btn p-0 outline-focus-none border-0" type="button" style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                          <img
                            srcset="{% if image.preview_image.width >= 288 %}{{ image.preview_image | image_url: width: 288 }} 288w,{% endif %}
                                    {% if image.preview_image.width >= 576 %}{{ image.preview_image | image_url: width: 576 }} 576w,{% endif %}
                                    {% if image.preview_image.width >= 550 %}{{ image.preview_image | image_url: width: 550 }} 550w,{% endif %}
                                    {% if image.preview_image.width >= 1100 %}{{ image.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                    {{ image.preview_image | image_url }} {{ image.preview_image.width }}w"
                            src="{{ image | image_url: width: 550, height: 550 }}"
                            class="rounded-corner-item"
                            sizes="100vw"
                            loading="lazy"
                            width="{{ image.preview_image.width }}"
                            height="{{ image.preview_image.width | divided_by: image.preview_image.aspect_ratio }}"
                            alt="{{ image.preview_image.alt | escape }}"
                          >
                          <span class="deferred-media__poster-button motion-reduce">
                            {%- render 'icon-play' -%}
                          </span>
                        </button>
                      </div>
                    {%- when 'video' -%}
                      {%- capture video_attribute -%}
                        {%- if sec_settings.video_looping -%}
                            loop 
                        {% endif %}
                        {% if sec_settings.image_video_autoplay -%}
                            muted autoplay
                        {%- endif -%}
                      {%- endcapture -%}
                      <div
                        class="slider-video rounded-corner-item relative"
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                      >
                        {%- liquid
                          assign source = image.sources
                          assign source_url = ""
                          for s in source
                            if s.format == "mp4"
                              assign source_url = s.url
                              break
                            endif
                          endfor
                        -%}
                        <template class="video-template">
                          {%- liquid
                              assign video_class = 'js-' | append: image.host
                          -%}
                          {% if image.media_type == 'video' %}
                            {{ image | media_tag: image_size: "2048x", autoplay: true, controls: true, preload: "none" }}
                          {% endif %}
                        </template>
                        
                        <div
                          class="video-box d-none rounded-corner-item"
                            style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                          >
                        </div>
                        <button id="Deferred-Poster-Modal-{{ image.id }}" class="btn-reset w-full btn-reset w-full overlay-btn p-0 outline-focus-none border-0 p-0 outline-focus-none border-0" type="button"
                          style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                        >
                          <img
                            srcset="{% if image.preview_image.width >= 288 %}{{ image.preview_image | image_url: width: 288 }} 288w,{% endif %}
                                    {% if image.preview_image.width >= 576 %}{{ image.preview_image | image_url: width: 576 }} 576w,{% endif %}
                                    {% if image.preview_image.width >= 550 %}{{ image.preview_image | image_url: width: 550 }} 550w,{% endif %}
                                    {% if image.preview_image.width >= 1100 %}{{ image.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                                    {{ image.preview_image | image_url }} {{ image.preview_image.width }}w"
                            src="{{ image | image_url: width: 550, height: 550 }}"
                            sizes="100vw"
                            loading="lazy"
                            class="rounded-corner-item"
                            width="{{ image.preview_image.width }}"
                            height="{{ image.preview_image.width | divided_by: image.preview_image.aspect_ratio }}"
                            alt="{{ image.preview_image.alt | escape }}"
                          >
                          <span class="deferred-media__poster-button motion-reduce">
                            {%- render 'icon-play' -%}
                          </span>
                        </button>
                      </div>
                    {%- when 'model' -%}
                      <div
                        class="slider-model"
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                      >
                        <div
                          style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}1/1{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                        >
                          <product-model
                            class="deferred-media media media--transparent no-js-hidden"
                            data-media-id="{{ image.id }}"
                          >
                            <button id="Deferred-Poster-Modal-{{ image.id }}" class="deferred-media__poster" type="button">
                              <span class="deferred-media__poster-button motion-reduce">
                                {%- render 'icon-3d-model' -%}
                              </span>
                              {{
                                image.preview_image
                                | image_url: width: 1946
                                | image_tag:
                                  loading: lazy,
                                  sizes: sizes,
                                  widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                              }}
                            </button>
                            <template>
                              {%- liquid
                                echo image | media_tag: image_size: '2048x', toggleable: true
                              -%}
                            </template>
                          </product-model>
                          <button
                            class="button button--full-width product__xr-button"
                            type="button"
                            aria-label="{{ 'products.product.xr_button_label' | t }}"
                            data-shopify-xr
                            data-shopify-model3d-id="{{ image.id }}"
                            data-shopify-title="{{ product.title | escape }}"
                            data-shopify-xr-hidden
                          >
                            {% render 'icon-3d-model' %}
                            {{ 'products.product.xr_button' | t }}
                          </button>
                        </div>
                      </div>
                    {%- else -%}
                    {%- liquid
                      if settings.product_image_ratio == 'adapt_to_image'
                        assign ratio = image.aspect_ratio
                      elsif settings.product_image_ratio == 'square'
                        assign ratio = 1
                      elsif settings.product_image_ratio == 'tall'
                        assign ratio = 3.0 | divided_by: 4
                      endif
                    -%}
                    <div
                      class="slider-image"
                      {% if sec_settings.image_zoom == 'lightbox' %}
                        data-href="{{ image.preview_image | image_url: width: 4096 }}" data-size="1100x{{ 1100 | divided_by: image.aspect_ratio | ceil }}" data-med="{{ image.preview_image | image_url: width: 1024 }}" data-med-size="1024x{{ 1024 | divided_by: image.aspect_ratio | ceil }}" 
                      {% endif %}
                      {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}
                        data-pane-container
                      {% endif %}
                      data-position="{{ image.position }}"
                      data-media-id="{{ section.id }}-{{ image.id }}"
                      {% if variant_image_group %}
                        data-alt="{{ image.alt | escape }}"
                      {% endif %}
                    >
                      {%- liquid
                        assign is_stack = true
                        if sec_settings.gallery_layout == "columns"
                          assign is_stack = false
                        endif
                      -%}
                      <div style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                        <img
                          {% if sec_settings.image_zoom == 'lightbox' %}
                            tabindex="0"
                          {% endif %}
                          class="rounded-corner-item"
                          srcset="
                            {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                            {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                            {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                            {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                            {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                            {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                          "
                          sizes="100vw"
                          src="{{ image.preview_image | image_url: width: 2048 }}"
                          data-zoom="{{ image.preview_image | image_url }}"
                          alt="{{ image.alt | escape }}"
                          {% if is_stack == false %}
                            {%- if forloop.index > 2 -%}
                              loading="lazy"
                            {%- endif -%}
                          {%- else -%}
                            {%- if forloop.index > 1 -%}
                              loading="lazy"
                            {%- endif -%}
                          {% endif %}
                          height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                          width="{{ image.preview_image.width }}"
                        >
                      </div>
                    </div>
                  {%- endcase -%}
                {%- endif -%}
              {% endfor %}
            </div>
          </template>
          
          <div class="gallery-grid-js no-js-hidden{% if sec_settings.image_zoom == 'lightbox' %} gallery-zoom{% elsif sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %} hover-zoom{% endif %}" {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}data-zoom-option="{{ zoom_option }}"{% endif %}>
            <div class="slide-container tns-initialized d-block d-md-none">
              {% for image in images limit: 2 %}
                {%- case image.media_type -%}
                  {%- when 'external_video' -%}
                    {% liquid
                      assign video_id = image.external_id
                    %}
                    {%- capture video_attribute -%}
                      {%- if sec_settings.video_looping -%}
                          loop=1
                      {% endif %}
                    {%- endcapture -%}
                    <div
                      class="slider-external-video rounded-corner-item relative"
                      data-position="{{ image.position }}"
                      data-media-id="{{ section.id }}-{{ image.id }}"
                    >
                      <div
                        style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                      >
                        {%- if image.host == 'youtube' -%}
                          <iframe
                            src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&mute={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                            class="js-youtube"
                          ></iframe>
                        {%- else -%}
                          <iframe
                            class="js-vimeo"
                            src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&muted={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                            frameborder="0"
                            allowfullscreen
                          ></iframe>
                        {%- endif -%}
                      </div>
                    </div>
                  {%- when 'video' -%}
                    {%- capture video_attribute -%}
                      {%- if sec_settings.video_looping -%}
                          loop 
                      {% endif %}
                      {% if sec_settings.image_video_autoplay -%}
                          muted autoplay
                      {%- endif -%}
                    {%- endcapture -%}
                    <div
                      class="slider-video rounded-corner-item relative"
                      data-position="{{ image.position }}"
                      data-media-id="{{ section.id }}-{{ image.id }}"
                    >
                      {%- liquid
                        assign source = image.sources
                        assign source_url = ""
                        for s in source
                          if s.format == "mp4"
                            assign source_url = s.url
                            break
                          endif
                        endfor
                      -%}
                      <div
                        style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                      >
                        <video
                          controls="true"
                          playsinline="true"
                          preload="none"
                          src="{{ source_url }}"
                          poster="{{ image.preview_image | image_url: width: 1100 }}"
                          {{ video_attribute }}
                        ></video>
                      </div>
                    </div>
                  {%- when 'model' -%}
                    <div
                      class="slider-model"
                      data-position="{{ image.position }}"
                      data-media-id="{{ section.id }}-{{ image.id }}"
                    >
                      <div
                        style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}1/1{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                      >
                        <product-model
                          class="deferred-media media media--transparent no-js-hidden"
                          data-media-id="{{ image.id }}"
                        >
                          <button id="Deferred-Poster-Modal-{{ image.id }}" class="deferred-media__poster" type="button">
                            <span class="deferred-media__poster-button motion-reduce">
                              {%- render 'icon-3d-model' -%}
                            </span>
                            {{
                              image.preview_image
                              | image_url: width: 1946
                              | image_tag:
                                loading: lazy,
                                sizes: sizes,
                                widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                            }}
                          </button>
                          <template>
                            {%- liquid
                              echo image | media_tag: image_size: '2048x', toggleable: true
                            -%}
                          </template>
                        </product-model>
                        <button
                          class="button button--full-width product__xr-button"
                          type="button"
                          aria-label="{{ 'products.product.xr_button_label' | t }}"
                          data-shopify-xr
                          data-shopify-model3d-id="{{ image.id }}"
                          data-shopify-title="{{ product.title | escape }}"
                          data-shopify-xr-hidden
                        >
                          {% render 'icon-3d-model' %}
                          {{ 'products.product.xr_button' | t }}
                        </button>
                      </div>
                    </div>
                  {%- else -%}
                    {%- liquid
                      if settings.product_image_ratio == 'adapt_to_image'
                        assign ratio = image.aspect_ratio
                      elsif settings.product_image_ratio == 'square'
                        assign ratio = 1
                      elsif settings.product_image_ratio == 'tall'
                        assign ratio = 3.0 | divided_by: 4
                      endif
                    -%}
                    <div
                      class="slider-image"
                      {% if sec_settings.image_zoom == 'lightbox' %}
                        data-href="{{ image.preview_image | image_url: width: 4096 }}" data-size="1100x{{ 1100 | divided_by: image.aspect_ratio | ceil }}" data-med="{{ image.preview_image | image_url: width: 1024 }}" data-med-size="1024x{{ 1024 | divided_by: image.aspect_ratio | ceil }}" 
                      {% endif %}
                      {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}
                        data-pane-container
                      {% endif %}
                      data-position="{{ image.position }}"
                      data-media-id="{{ section.id }}-{{ image.id }}"
                    >
                      {%- liquid
                        assign is_stack = true
                        if sec_settings.gallery_layout == "columns"
                          assign is_stack = false
                        endif
                      -%}
                      <div style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                        <img
                          {% if sec_settings.image_zoom == 'lightbox' %}
                            tabindex="0"
                          {% endif %}
                          class="rounded-corner-item"
                          srcset="
                            {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                            {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                            {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                            {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                            {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                            {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                          "
                          sizes="100vw"
                          src="{{ image.preview_image | image_url: width: 2048 }}"
                          data-zoom="{{ image.preview_image | image_url }}"
                          alt="{{ image.alt | escape }}"
                          {% if is_stack == false %}
                            {%- if forloop.index > 2 -%}
                              loading="lazy"
                            {%- endif -%}
                          {%- else -%}
                            {%- if forloop.index > 1 -%}
                              loading="lazy"
                            {%- endif -%}
                          {% endif %}
                          height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                          width="{{ image.preview_image.width }}"
                        >
                      </div>
                    </div>
                {%- endcase -%}
              {% endfor %}
            </div>
          </div>
          <noscript class="tablet-2 mb-1 grid-cols gap-small row-as-column-gap">
            {% for image in images %}
              {%- case image.media_type -%}
                {%- when 'external_video' -%}
                  {% liquid
                    assign video_id = image.external_id
                  %}
                  {%- capture video_attribute -%}
                    {%- if sec_settings.video_looping -%}
                        loop=1
                    {% endif %}
                  {%- endcapture -%}
                  <div
                    class="slider-external-video"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                    <div
                      style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                    >
                      {%- if image.host == 'youtube' -%}
                        <iframe
                          src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&mute={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                          class="js-youtube"
                        ></iframe>
                      {%- else -%}
                        <iframe
                          class="js-vimeo"
                          src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&muted={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                          frameborder="0"
                          allowfullscreen
                        ></iframe>
                      {%- endif -%}
                    </div>
                  </div>
                {%- when 'video' -%}
                  {%- capture video_attribute -%}
                    {%- if sec_settings.video_looping -%}
                        loop 
                    {% endif %}
                    {% if sec_settings.image_video_autoplay -%}
                        muted autoplay
                    {%- endif -%}
                  {%- endcapture -%}
                  <div
                    class="slider-video"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                    {%- liquid
                      assign source = image.sources
                      assign source_url = ""
                      for s in source
                        if s.format == "mp4"
                          assign source_url = s.url
                          break
                        endif
                      endfor
                    -%}
                    <div
                      style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                    >
                      <video
                        controls="true"
                        playsinline="true"
                        preload="none"
                        src="{{ source_url }}"
                        poster="{{ image.preview_image | image_url: width: 1100 }}"
                        {{ video_attribute }}
                      ></video>
                    </div>
                  </div>
                {%- when 'model' -%}
                  <div
                    class="slider-model rounded-corner-item"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                    <div
                      style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}1/1{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                    >
                      <product-model
                        class="deferred-media media media--transparent no-js-hidden"
                        data-media-id="{{ image.id }}"
                      >
                        <button id="Deferred-Poster-Modal-{{ image.id }}" class="deferred-media__poster" type="button">
                          <span class="deferred-media__poster-button motion-reduce">
                            {%- render 'icon-3d-model' -%}
                          </span>
                          {{
                            image.preview_image
                            | image_url: width: 1946
                            | image_tag:
                              loading: lazy,
                              sizes: sizes,
                              widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                          }}
                        </button>
                        <template>
                          {%- liquid
                            echo image | media_tag: image_size: '2048x', toggleable: true
                          -%}
                        </template>
                      </product-model>
                      <button
                        class="button button--full-width product__xr-button"
                        type="button"
                        aria-label="{{ 'products.product.xr_button_label' | t }}"
                        data-shopify-xr
                        data-shopify-model3d-id="{{ image.id }}"
                        data-shopify-title="{{ product.title | escape }}"
                        data-shopify-xr-hidden
                      >
                        {% render 'icon-3d-model' %}
                        {{ 'products.product.xr_button' | t }}
                      </button>
                    </div>
                  </div>
                {%- else -%}
                  <div
                    class="slider-image"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                        {%- liquid
                          if settings.product_image_ratio == 'adapt_to_image'
                            assign ratio = image.aspect_ratio
                          elsif settings.product_image_ratio == 'square'
                            assign ratio = 1
                          elsif settings.product_image_ratio == 'tall'
                            assign ratio = 3.0 | divided_by: 4
                          endif
                        -%}
                      <div
                        style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                      >
                        <img
                          class="rounded-corner-item"
                          srcset="
                            {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                            {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                            {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                            {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                            {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                            {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                          "
                          sizes="100vw"
                          src="{{ image.preview_image | image_url: width: 4096 }}"
                          alt="{{ image.alt | escape }}"
                          loading="lazy"
                          width="{{ image.preview_image.width }}"
                          height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                        >
                      </div>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </noscript>
        </gallery-grid>
    {%- endif -%}
    {%- endif -%}
    {%- if ph != false or sec_settings.mobile_thumbnails != "hide" -%}
      {%- if images.size > 1 and ic -%}
        <div class="no-js-hidden slide-thumbnail{% if pl %} w-md-110 mt-10-impo mt-md-0-impo{% endif %}{% if pb %} flex-1 mt-10-impo{% endif %}{% if ph == false %}{% if sec_settings.mobile_thumbnails != "hide" %} d-block d-1025-none{%- endif -%}{%- endif -%}">
          <slide-section
            class="slide-section-thumbnail not-round"
            data-items="5"
            data-controls="true"
            data-nav="false"
            data-loop="false"
            data-autoplay="false"
            data-mouse-drag="true"
            data-autoplay-timeout="5000"
            data-nav-as-thumbnails="false"
            data-autoplay-button-output="false"
            data-axis="{{ position }}"
            data-mode="carousel"
            data-fix-height="false"
            data-gap="small"
            data-type="gallery"
            data-lazyload="true"
            data-section-id="product-thumnail-{{ section.id }}"
            data-start-index="{%- if position_index -%}{{ position_index }}{%- endif -%}"
          >
            <div id="product-thumnail-{{ section.id }}" class="slide-container">
              {%- if images.size > 1 -%}
                {%- liquid
                  if variant_image_group
                    assign images_slide = media_variant
                  else
                    assign images_slide = images
                  endif
                -%}
                {% for image in images_slide %}
                  {%- liquid
                    if settings.product_image_ratio == 'adapt_to_image'
                      assign ratio = image.aspect_ratio
                    elsif settings.product_image_ratio == 'square'
                      assign ratio = 1
                    elsif settings.product_image_ratio == 'tall'
                      assign ratio = 3.0 | divided_by: 4
                    endif
                  -%}
                  <div class="slider-thumbnail{% if image.media_type == "external_video" or image.media_type == "model" or image.media_type == "video" %} relative{% endif %}" 
                    
                  >
                    {% case image.media_type %}
                      {% when 'external_video' %}
                        <span class="thumbnail__badge" aria-hidden="true">{% render 'icon-thumbnail-play' %}</span>
                      {% when 'video' %}
                        <span class="thumbnail__badge" aria-hidden="true">{% render 'icon-thumbnail-play' %}</span>
                      {% when 'model' %}
                        <span class="thumbnail__badge d-model" aria-hidden="true">{% render 'icon-thumbnail-3d-model' %}</span>
                    {% endcase %}
                    <div class="rounded-10" style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.preview_image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                      <img class="tns-lazy-img" data-src="{{ image.preview_image | image_url: width: 550 }}"
                        srcset="
                          {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                          {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                          {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                          {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                          {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                          {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                          {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                          {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                        "
                        sizes="100vw"
                        src="{{ image.preview_image | image_url: width: 550 }}"
                        alt="{{ image.alt | escape }}"
                        loading="lazy"
                        width="{{ image.preview_image.width }}"
                        height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                      >
                    </div>
                  </div>
                {% endfor %}
              {%- endif -%}
            </div>
            <template>
              <div class="content-items">
                {%- if images.size > 1 -%}
                  {% for image in images %}
                    {%- liquid
                      if settings.product_image_ratio == 'adapt_to_image'
                        assign ratio = image.aspect_ratio
                      elsif settings.product_image_ratio == 'square'
                        assign ratio = 1
                      elsif settings.product_image_ratio == 'tall'
                        assign ratio = 3.0 | divided_by: 4
                      endif
                    -%}
                    <div class="slider-thumbnail{% if image.media_type == "external_video" or image.media_type == "model" or image.media_type == "video" %} relative{% endif %}" 
                      {% if variant_image_group %}
                        data-alt="{{ image.alt | escape }}"
                        data-position="{{ image.position }}"
                      {% endif %}
                    >
                      {% case image.media_type %}
                        {% when 'external_video' %}
                          <span class="thumbnail__badge" aria-hidden="true">
                          {% render 'icon-thumbnail-play' %}
                          </span>
                        {% when 'video' %}
                          <span class="thumbnail__badge" aria-hidden="true">
                            {% render 'icon-thumbnail-play' %}
                          </span>
                        {% when 'model' %}
                          <span class="thumbnail__badge" aria-hidden="true">
                            {% render 'icon-thumbnail-3d-model' %}
                          </span>
                      {% endcase %}
                      <div class="rounded-10"
                        style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.preview_image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                      >
                        <img
                          {% if sec_settings.image_zoom == 'lightbox' %}
                            tabindex="0"
                          {% endif %}
                          class="tns-lazy-img"
                          data-src="{{ image.preview_image | image_url: width: 550 }}"
                          srcset="
                            {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                            {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                            {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                            {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                            {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                            {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                          "
                          sizes="100vw"
                          src="{{ image.preview_image | image_url: width: 550 }}"
                          alt="{{ image.alt | escape }}"
                          loading="lazy"
                          width="{{ image.preview_image.width }}"
                          height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                        >
                      </div>
                    </div>
                  {% endfor %}
                {%- endif -%}
              </div>
            </template>
          </slide-section>
        </div>
      {%- endif -%}
    {%- endif -%}
    {%- if images.size > 1 and ic -%}
      {%- liquid
        assign is_rich_product = false
        for image in images
          if image.media_type != "image"
            assign is_rich_product = true
          endif
        endfor
      -%}
      <div class="product-gallery flex-1{% if sec_settings.thumbnail_position != 'hide' and sec_settings.mobile_thumbnails != "hide" %} control-hidden{%- endif -%}{% if sec_settings.thumbnail_position != 'hide' and sec_settings.mobile_thumbnails == "hide" %} control-only-mobile{% elsif sec_settings.thumbnail_position == 'hide' and sec_settings.mobile_thumbnails != "hide" %} control-only-desktop{%- endif -%}">
        <slide-section
          class="slide-section-media rounded-corner-item d-block not-round"
          data-items="1"
          data-items-mb="1"
          data-controls="true"
          data-nav="{% if sec_settings.mobile_thumbnails != "hide" or sec_settings.thumbnail_position != 'hide' %}true{% else %}false{% endif %}"
          data-loop="false"
          data-autoplay="false"
          data-mouse-drag="{%- if is_rich_product or sec_settings.image_zoom == 'lightbox' -%}false{%- else -%}true{%- endif -%}"
          data-autoplay-timeout="5000"
          data-nav-as-thumbnails="{%- if sec_settings.mobile_thumbnails != "hide" or ph and ic -%}true{%- else -%}false{%- endif -%}"
          data-autoplay-button-output="false"
          data-has-thumbnail="true"
          data-mode="carousel"
          data-axis="horizontal"
          data-fix-height="false"
          data-type="gallery"
          data-nav-container="{%- if sec_settings.mobile_thumbnails != "hide" or ph and ic -%}product-thumnail-{{ section.id }}{%- endif -%}"
          data-gap="small"
        >
          <div class="slide-container no-js-scroll{% if sec_settings.image_zoom == 'lightbox' %} gallery-zoom{% elsif sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %} hover-zoom{% endif %}" {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}data-zoom-option="{{ zoom_option }}"{% endif %}>
            {%- liquid
              if variant_image_group
                assign images_slide = media_variant
              else
                assign images_slide = images
              endif
            -%}
            {% for image in images_slide %}
              {%- liquid
                assign is_larget_content = false
                if forloop.index == position_index
                  assign is_larget_content = true
                endif
              -%}
              {%- case image.media_type -%}
                {%- when 'external_video' -%}
                  {% liquid
                    assign video_id = image.external_id
                  %}
                  {%- capture video_attribute -%}
                    {%- if sec_settings.video_looping -%}
                        loop=1
                    {% endif %}
                  {%- endcapture -%}
                  <div
                    class="slider-external-video rounded-corner-item relative"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                    <div
                      style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                    >
                      {%- if image.host == 'youtube' -%}
                        <iframe
                          src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&mute={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                          class="js-youtube"
                        ></iframe>
                      {%- else -%}
                        <iframe
                          class="js-vimeo"
                          src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&muted={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                          frameborder="0"
                          allowfullscreen
                        ></iframe>
                      {%- endif -%}
                    </div>
                  </div>
                {%- when 'video' -%}
                  {%- capture video_attribute -%}
                    {%- if sec_settings.video_looping -%}
                        loop 
                    {% endif %}
                    {% if sec_settings.image_video_autoplay -%}
                        muted autoplay
                    {%- endif -%}
                  {%- endcapture -%}
                  <div
                    class="slider-video"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                    {%- liquid
                      assign source = image.sources
                      assign source_url = ""
                      for s in source
                        if s.format == "mp4"
                          assign source_url = s.url
                          break
                        endif
                      endfor
                    -%}
                    <div
                      style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                    >
                      <video
                        controls="true"
                        playsinline="true"
                        preload="none"
                        src="{{ source_url }}"
                        poster="{{ image.preview_image | image_url: width: 1100 }}"
                        {{ video_attribute }}
                      ></video>
                    </div>
                  </div>
                {%- when 'model' -%}
                  <div
                    class="slider-model"
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                  >
                    <div
                      style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}1/1{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                    >
                      <product-model
                        class="deferred-media media media--transparent no-js-hidden"
                        data-media-id="{{ image.id }}"
                      >
                        <button id="Deferred-Poster-Modal-{{ image.id }}" class="deferred-media__poster" type="button">
                          <span class="deferred-media__poster-button motion-reduce">
                            {%- render 'icon-3d-model' -%}
                          </span>
                          {{
                            image.preview_image
                            | image_url: width: 1946
                            | image_tag:
                              loading: lazy,
                              sizes: sizes,
                              widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                          }}
                        </button>
                        <template>
                          {%- liquid
                            echo image | media_tag: image_size: '2048x', toggleable: true
                          -%}
                        </template>
                      </product-model>
                      <button
                        class="button button--full-width product__xr-button"
                        type="button"
                        aria-label="{{ 'products.product.xr_button_label' | t }}"
                        data-shopify-xr
                        data-shopify-model3d-id="{{ image.id }}"
                        data-shopify-title="{{ product.title | escape }}"
                        data-shopify-xr-hidden
                      >
                        {% render 'icon-3d-model' %}
                        {{ 'products.product.xr_button' | t }}
                      </button>
                    </div>
                  </div>
                {%- else -%}
                {%- liquid
                  if settings.product_image_ratio == 'adapt_to_image'
                    assign ratio = image.aspect_ratio
                  elsif settings.product_image_ratio == 'square'
                    assign ratio = 1
                  elsif settings.product_image_ratio == 'tall'
                    assign ratio = 3.0 | divided_by: 4
                  endif
                -%}
                  <div
                    class="slider-image"
                    {% if sec_settings.image_zoom == 'lightbox' %}
                      data-href="{{ image.preview_image | image_url: width: 4096 }}" data-size="1100x{{ 1100 | divided_by: image.aspect_ratio | ceil }}" data-med="{{ image.preview_image | image_url: width: 1024 }}" data-med-size="1024x{{ 1024 | divided_by: image.aspect_ratio | ceil }}" 
                    {% endif %}
                    {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}
                      data-pane-container
                    {% endif %}
                    data-position="{{ image.position }}"
                    data-media-id="{{ section.id }}-{{ image.id }}"
                    {% if variant_image_group %}
                      data-alt="{{ image.alt | escape }}"
                    {% endif %}
                  >
                    <div style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                      <img
                        class="rounded-corner-item"
                        {% if sec_settings.image_zoom == 'lightbox' %}
                          tabindex="0"
                        {% endif %}
                        srcset="
                          {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                          {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                          {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                          {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                          {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                          {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                          {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                          {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                        "
                        sizes="100vw"
                        src="{{ image.preview_image | image_url: width: 4096 }}"
                        data-zoom="{{ image.preview_image | image_url }}"
                        alt="{{ image.alt | escape }}"
                        {% if is_larget_content == false %}
                          loading="lazy"
                        {% endif %}
                        width="{{ image.preview_image.width }}"
                        height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                      >
                    </div>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>
          <template>
            <div class="content-items">
              {%- if images.size > 1 -%}
                {% for image in images %}
                  {%- liquid
                    assign is_larget_content = false
                    if forloop.index == position_index
                      assign is_larget_content = true
                    endif
                  -%}
                  {%- case image.media_type -%}
                    {%- when 'external_video' -%}
                      {% liquid
                        assign video_id = image.external_id
                      %}
                      {%- capture video_attribute -%}
                        {%- if sec_settings.video_looping -%}
                            loop=1
                        {% endif %}
                      {%- endcapture -%}
                      <div
                        class="slider-external-video rounded-corner-item relative"
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                      >
                        <div
                          style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                        >
                          {%- if image.host == 'youtube' -%}
                            <iframe
                              src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&mute={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                              class="js-youtube"
                            ></iframe>
                          {%- else -%}
                            <iframe
                              class="js-vimeo"
                              src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&muted={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                              frameborder="0"
                              allowfullscreen
                            ></iframe>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- when 'video' -%}
                      {%- capture video_attribute -%}
                        {%- if sec_settings.video_looping -%}
                            loop 
                        {% endif %}
                        {% if sec_settings.image_video_autoplay -%}
                            muted autoplay
                        {%- endif -%}
                      {%- endcapture -%}
                      <div
                        class="slider-video"
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                      >
                        {%- liquid
                          assign source = image.sources
                          assign source_url = ""
                          for s in source
                            if s.format == "mp4"
                              assign source_url = s.url
                              break
                            endif
                          endfor
                        -%}
                        <div
                          style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                        >
                          <video
                            controls="true"
                            playsinline="true"
                            preload="none"
                            src="{{ source_url }}"
                            poster="{{ image.preview_image | image_url: width: 1100 }}"
                            {{ video_attribute }}
                          ></video>
                        </div>
                      </div>
                    {%- when 'model' -%}
                      <div
                        class="slider-model"
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                      >
                        <div
                          style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}1/1{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                        >
                          <product-model
                            class="deferred-media media media--transparent no-js-hidden"
                            data-media-id="{{ image.id }}"
                          >
                            <button id="Deferred-Poster-Modal-{{ image.id }}" class="deferred-media__poster" type="button">
                              <span class="deferred-media__poster-button motion-reduce">
                                {%- render 'icon-3d-model' -%}
                              </span>
                              {{
                                image.preview_image
                                | image_url: width: 1946
                                | image_tag:
                                  loading: lazy,
                                  sizes: sizes,
                                  widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                              }}
                            </button>
                            <template>
                              {%- liquid
                                echo image | media_tag: image_size: '2048x', toggleable: true
                              -%}
                            </template>
                          </product-model>
                          <button
                            class="button button--full-width product__xr-button"
                            type="button"
                            aria-label="{{ 'products.product.xr_button_label' | t }}"
                            data-shopify-xr
                            data-shopify-model3d-id="{{ image.id }}"
                            data-shopify-title="{{ product.title | escape }}"
                            data-shopify-xr-hidden
                          >
                            {% render 'icon-3d-model' %}
                            {{ 'products.product.xr_button' | t }}
                          </button>
                        </div>
                      </div>
                    {%- else -%}
                    {%- liquid
                      if settings.product_image_ratio == 'adapt_to_image'
                        assign ratio = image.aspect_ratio
                      elsif settings.product_image_ratio == 'square'
                        assign ratio = 1
                      elsif settings.product_image_ratio == 'tall'
                        assign ratio = 3.0 | divided_by: 4
                      endif
                    -%}
                      <div
                        class="slider-image"
                        {% if sec_settings.image_zoom == 'lightbox' %}
                          data-href="{{ image.preview_image | image_url: width: 4096 }}" data-size="1100x{{ 1100 | divided_by: image.aspect_ratio | ceil }}" data-med="{{ image.preview_image | image_url: width: 1024 }}" data-med-size="1024x{{ 1024 | divided_by: image.aspect_ratio | ceil }}" 
                        {% endif %}
                        {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}
                          data-pane-container
                        {% endif %}
                        data-position="{{ image.position }}"
                        data-media-id="{{ section.id }}-{{ image.id }}"
                        {% if variant_image_group %}
                          data-alt="{{ image.alt | escape }}"
                        {% endif %}
                      >
                        <div style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                          <img
                            class="rounded-corner-item"
                            {% if sec_settings.image_zoom == 'lightbox' %}
                              tabindex="0"
                            {% endif %}
                            srcset="
                              {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                              {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                              {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                              {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                              {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                              {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                              {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                              {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                              {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                            "
                            sizes="100vw"
                            src="{{ image.preview_image | image_url: width: 4096 }}"
                            data-zoom="{{ image.preview_image | image_url }}"
                            alt="{{ image.alt | escape }}"
                            {% if is_larget_content == false %}
                              loading="lazy"
                            {% endif %}
                            width="{{ image.preview_image.width }}"
                            height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                          >
                        </div>
                      </div>
                  {%- endcase -%}
                {% endfor %}
              {%- endif -%}
            </div>
          </template>
        </slide-section>
      </div>
    {%- endif -%}
    {%- if images.size == 1 -%}
      <div class="{% if enable_sticky %}sticky top-30 {% endif %}{% if sec_settings.image_zoom == 'lightbox' %}gallery-zoom{% elsif sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}hover-zoom{% endif %}" {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}data-zoom-option="{{ zoom_option }}"{% endif %}>
        {% for image in images %}
          {%- case image.media_type -%}
            {%- when 'external_video' -%}
              {% liquid
                assign video_id = image.external_id
              %}
              {%- capture video_attribute -%}
                {%- if sec_settings.video_looping -%}
                    loop=1
                {% endif %}
              {%- endcapture -%}
              <div
                class="slider-external-video"
                data-position="{{ image.position }}"
                data-media-id="{{ section.id }}-{{ image.id }}"
              >
                <div
                  style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                >
                  {%- if image.host == 'youtube' -%}
                    <iframe
                      src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&mute={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                      class="js-youtube"
                    ></iframe>
                  {%- else -%}
                    <iframe
                      class="js-vimeo"
                      src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&muted={% if sec_settings.image_video_autoplay -%}1{% else %}0{%- endif -%}&loop={%- if sec_settings.video_looping -%}1{%else%}0{% endif %}"
                      frameborder="0"
                      allowfullscreen
                    ></iframe>
                  {%- endif -%}
                </div>
              </div>
            {%- when 'video' -%}
              {%- capture video_attribute -%}
                {%- if sec_settings.video_looping -%}
                    loop 
                {% endif %}
                {% if sec_settings.image_video_autoplay -%}
                    muted autoplay
                {%- endif -%}
              {%- endcapture -%}
              <div
                class="slider-video"
                data-position="{{ image.position }}"
                data-media-id="{{ section.id }}-{{ image.id }}"
              >
                {%- liquid
                  assign source = image.sources
                  assign source_url = ""
                  for s in source
                    if s.format == "mp4"
                      assign source_url = s.url
                      break
                    endif
                  endfor
                -%}
                  <div
                    style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                  >
                    <video
                      controls="true"
                      playsinline="true"
                      preload="none"
                      src="{{ source_url }}"
                      poster="{{ image.preview_image | image_url: width: 1100 }}"
                      {{ video_attribute }}
                    ></video>
                  </div>
              </div>
            {%- when 'model' -%}
              <div
                class="slider-model"
                data-position="{{ image.position }}"
                data-media-id="{{ section.id }}-{{ image.id }}"
              >
                <div
                  style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}1/1{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}"
                >
                  <product-model
                    class="deferred-media media media--transparent no-js-hidden"
                    data-media-id="{{ image.id }}"
                  >
                    <button id="Deferred-Poster-Modal-{{ image.id }}" class="deferred-media__poster" type="button">
                      <span class="deferred-media__poster-button motion-reduce">
                        {%- render 'icon-3d-model' -%}
                      </span>
                      {{
                        image.preview_image
                        | image_url: width: 1946
                        | image_tag:
                          loading: lazy,
                          sizes: sizes,
                          widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
                      }}
                    </button>
                    <template>
                      {%- liquid
                        echo image | media_tag: image_size: '2048x', toggleable: true
                      -%}
                    </template>
                  </product-model>
                  <button
                    class="button button--full-width product__xr-button"
                    type="button"
                    aria-label="{{ 'products.product.xr_button_label' | t }}"
                    data-shopify-xr
                    data-shopify-model3d-id="{{ image.id }}"
                    data-shopify-title="{{ product.title | escape }}"
                    data-shopify-xr-hidden
                  >
                    {% render 'icon-3d-model' %}
                    {{ 'products.product.xr_button' | t }}
                  </button>
                </div>
              </div>
            {%- else -%}
              {%- liquid
                if settings.product_image_ratio == 'adapt_to_image'
                  assign ratio = image.aspect_ratio
                elsif settings.product_image_ratio == 'square'
                  assign ratio = 1
                elsif settings.product_image_ratio == 'tall'
                  assign ratio = 3.0 | divided_by: 4
                endif
              -%}
              <div
                class="slider-image"
                {% if sec_settings.image_zoom == 'lightbox' %}
                  data-href="{{ image.preview_image | image_url: width: 4096 }}" data-size="1100x{{ 1100 | divided_by: image.aspect_ratio | ceil }}" data-med="{{ image.preview_image | image_url: width: 1024 }}" data-med-size="1024x{{ 1024 | divided_by: image.aspect_ratio | ceil }}" 
                {% endif %}
                data-position="{{ image.position }}"
                data-media-id="{{ section.id }}-{{ image.id }}"
                {% if sec_settings.image_zoom == 'external_zoom' or sec_settings.image_zoom == 'inner_zoom' %}
                  data-pane-container
                {% endif %}
              >
                <div style="--aspect-ratio: {% if settings.product_image_ratio == 'adapt_to_image' -%}{{ image.aspect_ratio }}{%- elsif settings.product_image_ratio == 'square' -%}1/1{%- elsif settings.product_image_ratio == 'tall' -%}3/4{%- endif -%}">
                  <img
                    {% if sec_settings.image_zoom == 'lightbox' %}
                      tabindex="0"
                    {% endif %}
                    class="rounded-corner-item"
                    srcset="
                      {%- if image.preview_image.width >= 550 -%}{{ image.preview_image | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if image.preview_image.width >= 1100 -%}{{ image.preview_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                      {%- if image.preview_image.width >= 1445 -%}{{ image.preview_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                      {%- if image.preview_image.width >= 1680 -%}{{ image.preview_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                      {%- if image.preview_image.width >= 2048 -%}{{ image.preview_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                      {%- if image.preview_image.width >= 2200 -%}{{ image.preview_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                      {%- if image.preview_image.width >= 2890 -%}{{ image.preview_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                      {%- if image.preview_image.width >= 4096 -%}{{ image.preview_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                      {{ image.preview_image | image_url }} {{ image.preview_image.width }}w
                    "
                    sizes="100vw"
                    src="{{ image.preview_image | image_url: width: 4096 }}"
                    data-zoom="{{ image.preview_image | image_url }}"
                    alt="{{ image.alt | escape }}"
                    loading="lazy"
                    width="{{ image.preview_image.width }}"
                    height="{{ image.preview_image.width | divided_by: ratio | ceil }}"
                  >
                </div>
              </div>
          {%- endcase -%}
        {% endfor %}
      </div>
    {%- endif -%}
  {% if images.size > 1 %}
  </media-gallery>
  {% endif %}

  {% if sec_settings.image_zoom == 'lightbox' %}
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
          </div>
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center">
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endif %}

