{%- liquid
  if scope != 'detail'
    assign target = product.variants[0]
  else
    assign target = product.selected_or_first_available_variant
  endif
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999

  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif
  if product.price_varies and scope != 'detail'
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
  assign special_class = ''
  if compare_at_price > price
    assign special_class = ' special-price'
  endif
-%}
<div class="card-product-price d-inline-flex flex-wrap gap-5">
  {%- if compare_at_price > price -%}
    <div class="heading-color price-regular">
      <span class="visually-hidden-price visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price{{ special_class }}">
        {{ money_price }}
      </span>
    </div>
    <div class="ml-8 price-regular heading-color">
      <span class="visually-hidden-price visually-hidden--inline">
        {{- 'products.product.price.regular_price' | t -}}
      </span>
      <s class="price-item compare-price">
        {%- if settings.currency_code_enabled -%}
          {{ compare_at_price | money_with_currency }}
        {%- else -%}
          {{ compare_at_price | money }}
        {%- endif -%}
      </s>
    </div>
  {%- else -%}
    <div class="price-regular heading-color">
      <span class="visually-hidden-price visually-hidden--inline">
        {{- 'products.product.price.regular_price' | t -}}
      </span>
      <span class="price">
        {{ money_price }}
      </span>
    </div>
  {%- endif -%}
  {% if target.unit_price_measurement != null %}
    <small class="ml-8 unit-price caption">
      <span class="visually-hidden-price">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span class="number">
          {%- if settings.currency_code_enabled -%}
            {{- target.unit_price | money_with_currency -}}
          {%- else -%}
            {{- target.unit_price | money -}}
          {%- endif -%}
        </span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span class="unit">
          {%- if target.unit_price_measurement.reference_value != 1 -%}
            {{- target.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ target.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  {% endif %}
</div>
{% liquid
  assign product_show_badges = false
  if settings.show_sale or settings.show_sold_out or settings.show_pre_order or product.metafields.custom.custom_product_badge
    assign product_show_badges = true
  endif
%}
{%- if product_show_badges and show_badges -%}
  {% render 'product-badges' | card_product: product | type: "price_badges" %}
{%- endif -%}
