{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'
  assign product_form_id = 'product-form-' | append: section.id
  assign product_form_id_custom = 'product-form-' | append: block_id | append: '-' | append: product.id
  assign isColorOption = false
  for cl in option_name
    if option.name == cl
      assign isColorOption = true
    endif
  endfor
-%}
{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true
    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if is_dropdown -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
      class="{% if option_disabled -%}disabled{%- endif %}"
    >
      {{- value -}}
    </option>
  {%- else -%}
    <input
      type="radio"
      {% if custom %}
        id="{{ block_id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
      {% else %}
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      {% endif %}
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{% if custom %}{{ product_form_id_custom }}{% else %}{{ product_form_id }}{% endif %}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      class="{% if option_disabled -%}disabled{%- endif %}"
    >
    {%- if isColorOption != true -%}
      <label
        class="tooltip pointer"
        {% if custom %}
          for="{{ block_id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
        {% else %}
          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        {% endif %}
      >
        <span class="value bg-white z-1 relative">{{ value -}}</span>
        <span class="tooltip-content fs-small tooltip-top">{{ value }}</span>
      </label>
    {%- else -%}
      {%- liquid
        assign op = 'option' | append: option.position
        assign variant = product.variants | where: op, value
        assign img = ''
        for i in variant
          if i.featured_image.src
            assign img = i.featured_image.src
            break
          endif
        endfor
        if settings.color_swatch_custom != blank and settings.enable_color_swatches
          assign stringValue = settings.color_swatch_custom
          assign pairs = stringValue | split: ','
          assign colorCode = ''
          for pair in pairs
            assign keyAndValue = pair | split: ':'
            assign key = keyAndValue[0] | strip
            assign v = keyAndValue[1] | strip
            if key == value
              assign colorCode = v
            endif
          endfor
        endif
      -%}
      <label
        class="product__color-swatch tooltip pointer mr-10 mt-10 swatch-items-js fs-0"
        {% if custom %}
          for="{{ block_id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}"
        {% else %}
          for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        {% endif %}
        {% if settings.enable_color_swatches %}
          data-color="{{ value | downcase }}"
          data-hex="{{ colorCode }}"
        {% endif %}
        {% if img != blank %}
          data-image="{{ img | image_url }}"
        {% endif %}
      >
        {{ value }}
        <span class="tooltip-content fs-small tooltip-top">{{ value }}</span>
      </label>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
