{%- liquid
  if card_product and card_product != empty
    assign option_name = 'Color'
    assign sale = false
    assign sold_out = false
    assign pre_order = false
    assign product_avail = false
    assign product_qty = 0
    if card_product.has_only_default_variant == false
      if type != 'price_badges'
        if card_product.options_with_values[0].name == option_name
          if card_product.options_with_values.size < 2
            for variant in card_product.variants limit: 1
              assign product_qty = product_qty | plus: variant.inventory_quantity
              assign product_avail = variant.available
              assign product_management = variant.inventory_management
              assign compare_at_price = variant.compare_at_price
              assign price = variant.price
            endfor
            if product_management != null
              if product_qty < 1
                if product_avail == true
                  if settings.show_pre_order
                    assign pre_order = true
                  endif
                  assign sold_out = false
                else
                  assign pre_order = false
                    if settings.show_sold_out
                      assign sold_out = true
                    endif
                endif
              else
                assign pre_order = false
                assign sold_out = false
              endif
            else
              assign pre_order = false
              assign sold_out = false
            endif
          else
            assign prod = card_product.variants | where: 'option1', card_product.options_with_values[0].values[0]
            assign product_management = 'shopify'
            for p in prod
              assign product_qty = product_qty | plus: p.inventory_quantity
              if p.available
                assign product_avail = true
              endif
              if p.inventory_management == null
                assign product_management = 'null'
              endif
              assign compare_at_price = prod[0].compare_at_price
              assign price = prod[0].price
              if product_management != 'null'
                if product_qty < 1
                  if product_avail == true
                    if settings.show_pre_order
                      assign pre_order = true
                    endif
                    assign sold_out = false
                  else
                    assign pre_order = false
                    if settings.show_sold_out
                      assign sold_out = true
                    endif
                  endif
                else
                  assign pre_order = false
                  assign sold_out = false
                endif
              else
                assign pre_order = false
                assign sold_out = false
              endif
            endfor
          endif
        else
          assign product_management = 'shopify'
          for variant in card_product.variants
            assign product_qty = product_qty | plus: variant.inventory_quantity
            if variant.available == true
              assign product_avail = true
            endif
            if variant.inventory_management == null
              assign product_management = 'null'
            endif
          endfor
          assign compare_at_price = card_product.variants[0].compare_at_price
          assign price = card_product.variants[0].price
          if product_management != 'null'
            if product_qty < 1
              if product_avail == true
                if settings.show_pre_order
                  assign pre_order = true
                endif
                assign sold_out = false
              else
                assign pre_order = false
                if settings.show_sold_out
                  assign sold_out = true
                endif
              endif
            else
              assign pre_order = false
              assign sold_out = false
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        endif
      else
        assign product_qty = product_qty | plus: card_product.selected_or_first_available_variant.inventory_quantity
        assign product_avail = card_product.selected_or_first_available_variant.available
        assign product_management = card_product.selected_or_first_available_variant.inventory_management
        assign compare_at_price = card_product.selected_or_first_available_variant.compare_at_price
        assign price = card_product.selected_or_first_available_variant.price
        if product_management != null
          if product_qty < 1
            if product_avail == true
              if settings.show_pre_order
                assign pre_order = true
              endif
              assign sold_out = false
            else
              assign pre_order = false
              if settings.show_sold_out
                assign sold_out = true
              endif
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        else
          assign pre_order = false
          assign sold_out = false
        endif
      endif
    else
      assign compare_at_price = card_product.compare_at_price
      assign price = card_product.price
      if card_product.available != true and settings.show_sold_out
        assign sold_out = true
      endif
      for v in card_product.variants
        if v.inventory_quantity
          assign product_qty = product_qty | plus: v.inventory_quantity
        endif
      endfor
      if product_qty < 1 and card_product.available == true
        if settings.show_pre_order
          assign pre_order = true
        endif
        assign sold_out = false
      endif
      for v in card_product.variants
        if v.inventory_management == null
          assign pre_order = false
          assign sold_out = false
        endif
      endfor
    endif
    if compare_at_price > price and compare_at_price != blank and settings.show_sale
      assign sale = true
    endif
  endif
-%}
{% if type == 'external' %}
  <div class="product__badges fs-small w-full d-flex flex-wrap uppercase gap-5">
    {%- if card_product.metafields.custom.external_affiliate != blank -%}
      <div class="product__badges fs-small w-full d-flex flex-wrap uppercase gap-5">
        <div class="product__badges-external d-inline-flex middle-center heading-weight text-center">
          {{ card_product.metafields.custom.external_affiliate.value.button_text }}
        </div>
      </div>
    {%- endif -%}
  </div>
{%- else -%}
  {%- if sale or sold_out or pre_order or card_product.metafields.custom.custom_product_badge -%}
    <div class="product__badges fs-small w-full{% if type != "price_badges" %} absolute{% endif %} d-flex flex-wrap uppercase gap-5">
      {%- if card_product.metafields.custom.external_affiliate != blank -%}
        <div class="product__badges fs-small w-full d-flex flex-wrap uppercase gap-5">
          <div class="product__badges-external d-inline-flex middle-center heading-weight text-center">
            {{ card_product.metafields.custom.external_affiliate.value.button_text }}
          </div>
        </div>
      {%- else -%}
 {%- if sale -%}
  <div class="product__badges-sale d-inline-flex middle-center heading-weight text-center">
    {%- assign p = compare_at_price | minus: price -%}

    {%- if p > 0 and compare_at_price > 0 -%}
      {%- assign p = p | times: 100.0 | divided_by: compare_at_price | round -%}
    {%- endif -%}

    SAVE {{ p }}%
  </div>
{%- endif -%}
        {%- if sold_out -%}
          <div class="product__badges-sold-out d-inline-flex middle-center heading-weight text-center">
            {{ 'products.product.sold_out' | t }}
          </div>
        {%- else -%}
          {%- if pre_order -%}
            <div class="product__badges-pre-order d-inline-flex middle-center heading-weight text-center">
              {{ 'products.product.pre_order' | t }}
            </div>
          {%- endif -%}
        {%- endif -%}
        {%- if card_product.metafields.custom.custom_product_badge -%}
          <div class="product__badges-custom d-inline-flex middle-center heading-weight text-center">
            {{ card_product.metafields.custom.custom_product_badge }}
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>
  {%- endif -%}
{% endif %}
