{%- liquid
  assign sec_blocks = section.blocks
  assign sec_settings = section.settings
  assign is_shown = false

  assign section_width = ''
  if section.settings.section_width == 'fix_width'
    assign section_width = ' container'
  elsif section.settings.section_width == 'expand_full_width'
    assign section_width = ' full-width px-20'
  else
    assign section_width = ' full-width-gap'
  endif

  if section.settings.style_between_item == blank
      assign space_between_text = ''
    if section.settings.space_between_text == 'small'
      assign space_between_text = '20px'
    elsif section.settings.space_between_text == 'medium'
      assign space_between_text = '30px'
    elsif section.settings.space_between_text == 'large'
      assign space_between_text = '44px'
    endif
    else
    if section.settings.space_between_text == 'small'
      assign space_between_text = '30px'
    elsif section.settings.space_between_text == 'medium'
      assign space_between_text = '44px'
    elsif section.settings.space_between_text == 'large'
      assign space_between_text = '54px'
    endif
  endif

-%}
{%- capture style -%}
    --marquee-speed: {{ sec_settings.marquee_speed }}s; --announcement-space: {{ space_between_text }};
{%- endcapture -%}
{%- liquid
  if sec_settings.homepage_only
    if request.page_type == 'index'
      assign is_shown = true
    endif
  else
    assign is_shown = true
  endif
-%}
{%- if sec_blocks.size > 0 and is_shown -%}
  <announcement-bar 
    class="color-{{ section.settings.color_scheme }} gradient announcement-bar d-block text-center has-close-btn {% if sec_settings.show_mobile == blank -%}d-none md:block{%- endif %}{% if section.settings.style_between_item and sec_settings.announcement_actions == "marquee" %} show-dot{% endif %}"
    aria-label="{{ 'sections.header.announcement.label' | t }}" {{ block.shopify_attributes }} 
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="section-inner{{ section_width }}">
      {% if sec_blocks.size > 1 %}
        {%- if sec_settings.announcement_actions == "slide" -%}
          <div class="announcement-slide btn-control-small no-js-hidden">
              <slide-section
                data-items="1"
                data-controls="true"
                data-nav="false"
                data-loop="true"
                data-autoplay="true"
                data-mouse-drag="true"
                data-autoplay-timeout="5000"
                data-nav-as-thumbnails="false"
                data-axis="horizontal"
                data-fix-height="true"
                class="not-round"
              >
                <div class="slide-container">
            
        {%- else -%}
          <div class="w-full overflow-hidden marquee d-flex justify-content-center">
        {%- endif -%}
        {%- if sec_settings.announcement_actions == "marquee" -%}
          {%- for i in (0..5) -%}
            <div class="d-flex animation-marquee">
              {%- for block in sec_blocks -%}
                {%- liquid
                  assign blo_settings = block.settings
                -%}
                  {%- if blo_settings.text != blank -%}
                    <div class="announcement__bar-message d-flex justify-content-center fs-{{ section.settings.scrolling_size }}{% if section.settings.uppercase %} uppercase{% endif %}{% if section.settings.style_between_item and sec_settings.announcement_actions == "marquee" %} show-dot relative z--1{% endif %}">
                        {%- if blo_settings.link != blank -%}
                          <a href="{{ blo_settings.link }}" class="announcement__bar-link link link--text d-block">
                        {%- endif -%}
                          {{ blo_settings.text }}
                        {%- if blo_settings.link != blank -%}
                            </a>
                        {%- endif -%}
                    </div>
                  {%- endif -%}
              {%- endfor -%}
            </div>
          {%- endfor -%}
        {%- else -%}
          {%- for block in sec_blocks -%}
            {%- liquid
              assign blo_settings = block.settings
            -%}
              {%- if blo_settings.text != blank -%}
                  <div class="announcement__bar-message d-flex justify-content-center fs-{{ section.settings.scrolling_size }}{% if section.settings.uppercase %} uppercase{% endif %}{% if section.settings.style_between_item and sec_settings.announcement_actions == "marquee" %} show-dot relative z--1{% endif %} flex-wrap">
                    {%- if blo_settings.link != blank -%}
                        <a href="{{ blo_settings.link }}" class="announcement__bar-link link link--text d-block" aria-label="{{ blo_settings.text | replace: "[deadline]", "" | truncate: 50 }}">
                      {%- endif -%}
                      {{ blo_settings.text }}
                      {%- if blo_settings.link != blank -%}
                        </a>
                    {%- endif -%}
                  </div>
              {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        {%- for block in sec_blocks -%}
          {%- liquid
            assign blo_settings = block.settings
          -%}
            {%- if blo_settings.text != blank -%}
                <div class="announcement__bar-message d-flex justify-content-center fs-{{ section.settings.scrolling_size }}{% if section.settings.uppercase %} uppercase{% endif %}{% if section.settings.style_between_item and sec_settings.announcement_actions == "marquee" %} show-dot relative z--1{% endif %}">
                    {%- if blo_settings.link != blank -%}
                      <a href="{{ blo_settings.link }}" class="announcement__bar-link link link--text d-block" aria-label="{{ blo_settings.text | replace: "[deadline]", "" | truncate: 50 }}">
                    {%- endif -%}
                    {{ blo_settings.text }}
                    {%- if blo_settings.link != blank -%}
                      </a>
                  {%- endif -%}
                </div>
            {%- endif -%}
        {%- endfor -%}
      {% endif %}
      {% if sec_blocks.size > 1 %}
          </div>
        {%- if sec_settings.announcement_actions == "slide" -%}
          </slide-section>
        </div>
        <noscript>
          <div class="w-full overflow-hidden marquee d-flex justify-content-center">
            {%- for i in (0..5) -%}
              <div class="d-flex animation-marquee">
                {%- for block in sec_blocks -%}
                  {%- liquid
                    assign blo_settings = block.settings
                  -%}
                    {%- if blo_settings.text != blank -%}
                      <div class="announcement__bar-message d-flex justify-content-center fs-{{ section.settings.scrolling_size }}{% if section.settings.uppercase %} uppercase{% endif %}{% if section.settings.style_between_item and sec_settings.announcement_actions == "marquee" %} show-dot relative z--1{% endif %}">
                          {%- if blo_settings.link != blank -%}
                            <a href="{{ blo_settings.link }}" class="announcement__bar-link link link--text d-block">
                          {%- endif -%}
                            {{ blo_settings.text }}
                          {%- if blo_settings.link != blank -%}
                              </a>
                          {%- endif -%}
                      </div>
                    {%- endif -%}
                {%- endfor -%}
              </div>
            {%- endfor -%}
          </div>
        </noscript>
        {%- endif -%}
      {% endif %}
    </div>
    {%- if sec_settings.show_close -%}
      <close-button class="absolute right-15 top-50 no-js-hidden hover-svg-zoom pointer" tabindex="0">
        {% render 'icon-close', custom_width: 18 %}
      </close-button>
    {%- endif -%}
  </announcement-bar>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "stretch_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "checkbox",
      "id": "show_close",
      "default": true,
      "label": "t:sections.announcement-bar.settings.show_close.label"
    },
    {
      "type": "checkbox",
      "id": "homepage_only",
      "default": true,
      "label": "t:sections.announcement-bar.settings.homepage_only.label"
    },
    {
      "type": "checkbox",
      "id": "show_mobile",
      "default": true,
      "label": "t:sections.announcement-bar.settings.show_mobile.label"
    },
    {
      "type": "select",
      "id": "announcement_actions",
      "options": [
        {
          "value": "slide",
          "label": "t:sections.announcement-bar.settings.announcement_actions.slide.label"
        },
        {
          "value": "marquee",
          "label": "t:sections.announcement-bar.settings.announcement_actions.marquee.label"
        }
      ],
      "default": "slide",
      "label": "t:sections.announcement-bar.settings.announcement_actions.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.scrolling-text.header",
      "info": "t:sections.announcement-bar.settings.marquee_speed.info"
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "default": 20,
      "label": "t:sections.announcement-bar.settings.marquee_speed.label",
      "min": 5,
      "max": 50,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "style_between_item",
      "default": true,
      "label": "t:sections.icon-with-text.settings.icon.style_between_item"
    },
    {
      "type": "select",
      "id": "space_between_text",
      "options": [
        {
          "value": "small",
          "label": "t:sections.announcement-bar.settings.space_between.small"
        },
        {
          "value": "medium",
          "label": "t:sections.announcement-bar.settings.space_between.medium"
        },
        {
          "value": "large",
          "label": "t:sections.announcement-bar.settings.space_between.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.announcement-bar.settings.space_between.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.label"
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "default": false,
      "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
    },
    {
      "type": "select",
      "id": "scrolling_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.size.small.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.size.medium.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.size.large.label"
        }
      ],
      "default": "small",
      "label": "t:sections.all.content_setting.text.text-size"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement",
        "settings": {
          "text": "Welcome to our store"
        }
      }
    ]
  }
}
{% endschema %}