{%- liquid
  assign section_st = section.settings
  assign section_width = ''
  if section_st.section_width == 'fix_width'
    assign section_width = ' container'
  elsif section_st.section_width == 'expand_full_width'
    assign section_width = ' full-width px-20'
  else
    assign section_width = ' full-width-gap'
  endif

  assign columns_small_desktop = ''
  if section_st.columns_desktop > 3
    assign columns_small_desktop = ' small-desktop-4'
  endif

  assign columns_tablet = ''
  if section_st.columns_desktop > 2
    assign columns_tablet = ' tablet-3'
  endif

  assign columns_mobile = ''
  if section_st.columns_desktop > 1
    assign columns_mobile = ' mb-2'
  endif

  assign aspect_ratio = '1/1'
  case section_st.image_ratio
    when 'adapt'
      assign aspect_ratio = 'adapt'
    when 'square'
      assign aspect_ratio = '1/1'
    when 'portrait'
      assign aspect_ratio = '3/4'
    else
      assign aspect_ratio = '4/3'
  endcase
  assign design = section_st.design
  assign reveal_slide = section_st.reveal_slide
  assign show_progress = section_st.show_progress
  assign sub_des_size = ''
  assign heading_size = ''
  assign header_size = section_st.heading_size
  if header_size == 'small'
    assign sub_des_size = ' text-xs'
    assign heading_size = ' h3'
  elsif header_size == 'large'
    assign sub_des_size = ' lg:text-base text-sm'
    assign heading_size = ' lg:text-5xl!'
  endif
  assign enable_radius_bottom = section_st.enable_radius_bottom
  assign enable_radius_top = section_st.enable_radius_top
-%}
{%- capture style -%}
--section-padding-top: {{ section_st.padding_top }}px; --section-padding-bottom: {{ section_st.padding_bottom }}px;
  {%- endcapture -%}
<div
  class="color-{{ section_st.color_scheme }} gradient bls__section section-padding {% if section_st.round_image %}round-image{% endif %} {% if enable_radius_bottom %}radius-bottom{% endif %} {% if enable_radius_top %}radius-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="section-inner {{ section_width }}{% if design == 'vertical' %} d-flex{% endif %} design-{{ design }} {% if show_progress %}slide-custom{% endif %}">
    {%- if section_st.title != blank or section_st.description != blank or section_st.subheading != blank -%}
      <div
        class="bls__section-header mb-40 mb-sm-35 text-{{ section_st.text_alignment }}{% if section_st.text_alignment == 'right' %} row-reverse{% endif %}{% if section_st.text_alignment == 'center' %} flex-column{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if design == 'horizontal' and section_st.show_view_all != blank and section_st.text_alignment == 'left' or section_st.text_alignment == 'right' %} d-flex space-between flex-wrap gap-15{% endif %}"
      >
        {%- if section_st.show_view_all != blank
          and section_st.text_alignment == 'left'
          or section_st.text_alignment == 'right'
        -%}
          <div class="w-full bls__title-des w-sm-unset">
        {%- endif -%}
        {%- if section_st.subheading != blank -%}
          <p
            class="mt-0 heading-color heading-font mb-10!{{ sub_des_size }}"
            {%- if settings.animations_reveal_on_scroll -%}
            {%- endif -%}
          >
            {{ section_st.subheading | escape }}
          </p>
        {%- endif -%}
        {%- if section_st.title != blank -%}
          <h2 class="bls_section-heading heading-letter-spacing mt-0 mb-7 mb-md-15{{ heading_size }}">
            {{ section_st.title }}
          </h2>
        {%- endif -%}
        {%- if section_st.description != blank -%}
          <div class="short-des {{ sub_des_size }}">
            {{ section_st.description }}
          </div>
        {%- endif -%}
        {%- if section_st.show_view_all != blank
          and section_st.text_alignment == 'left'
          or section_st.text_alignment == 'right'
        -%}
          </div>
        {%- endif -%}
        {%- if section_st.show_view_all != blank
          and section_st.text_alignment == 'left'
          or section_st.text_alignment == 'right'
          or design == 'vertical'
        -%}
          {%- assign view_all_label = 'sections.collection_list.view_all' | t -%}
          <a
            href="{{ routes.collections_url }}"
            aria-label="{{ view_all_label | escape }}"
            class="link btn_view-more btn-outline animate-arrow btn-link {% if settings.button_text_transform == 'uppercase' %}fs-small{% endif %} align-self-center nowrap pointer mt-12 mt-sm-0{% if section_st.text_alignment == 'center' %} mt-20{% endif %}"
          >
            {{ 'sections.collection_list.view_all' | t }}
            {% render 'icon-next', custom_width: 13 %}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section_st.enable_carousel -%}
      <slide-section
        data-items="{{ section_st.columns_desktop }}"
        data-free-scroll="true"
        data-controls="{{ section_st.show_navigation }}"
        data-nav="{% if show_progress %}false{% else %}{{ section_st.show_pagination }}{% endif %}"
        data-loop="{% if reveal_slide %}true{% else %}false{% endif %}"
        data-lazyload="false"
        data-autoplay="false"
        data-mouse-drag="true"
        data-autoplay-timeout="5000"
        data-controls-position="top"
        data-nav-as-thumbnails="false"
        data-autoplay-button-output="false"
        data-axis="horizontal"
        data-mode="carousel"
        data-fix-height="false"
        data-product-type="true"
        data-autowidth="true"
        data-gap="{{ section_st.column_gap }}"
        class="{% if section_st.information_position != 'overlay' %} round-on-top{% endif %} {% if reveal_slide %}reveal_slide{% endif %}"
        data-nav-center-postion="collection-media"
        data-custom-progress="{% if show_progress %}true{% else %}false{% endif %}"
        data-progress="{% if show_progress %}true{% else %}false{% endif %}"
        data-next="{% if show_progress %}next-post-{{ section.id }}{% endif %}"
        data-prev="{% if show_progress %}prev-post-{{ section.id }}{% endif %}"
      >
        <div class="{% if section_st.columns_desktop > 5 %} column-2-5{% endif %} slide-container no-js-scroll{% if settings.animations_reveal_on_scroll %} slide-animation opacity-0 opacity-1-768{% endif %}">
          {% for block in section.blocks %}
            <div
              class="relative collection-items align-self-start"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}

              {%- if settings.animations_reveal_on_scroll -%}
                style="--animation-order: {{ forloop.index }};"
              {%- endif -%}
              {{ block.shopify_attributes }}
            >
              <div class="collection__inner group relative {% if section_st.information_position == 'top' %}d-flex column-reverse information-top {% if section_st.show_framed %}border p-15{% endif %}{% endif %}">
                {% if section_st.information_position == 'top' %}
                  {%- liquid
                    assign p_url = ''
                    if block.settings.collection != blank
                      assign p_url = block.settings.collection.url
                    endif
                    assign default_alt = 'sections.collection_list.sample_name' | t
                  -%}
                  <a
                    class="btn btn-primary"
                    {% if p_url == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ p_url }}"
                    {% endif %}
                    aria-label="{{ block.settings.collection.title | default: default_alt }}"
                  >
                    {% render 'icon-arrow-top-right' %}
                  </a>
                {% endif %}
                <div
                  class="banner__media collection-media {% if section_st.show_framed and design == 'horizontal' %}show-framed{% endif %}"
                  style="
                    {%- if aspect_ratio == "adapt" -%}
                      {%- if block.settings.collection_image == blank and block.settings.collection == blank -%}
                        --aspect-ratio: 3/4;
                      {%- endif -%}
                      {%- else -%}
                      --aspect-ratio: {{ aspect_ratio }};
                    {%- endif -%}
                  "
                >
                  {%- if block.settings.collection_image == blank -%}
                    {%- if block.settings.collection != blank -%}
                      {%- liquid
                        assign p_url = block.settings.collection.url
                        assign p_img = block.settings.collection.featured_image
                      -%}
                      {%- if block.settings.collection_title != blank -%}
                        {%- assign banner_alt = block.settings.collection_title | escape -%}
                      {%- else -%}
                        {%- assign banner_alt = block.settings.collection.title | escape -%}
                      {%- endif -%}
                      <a
                        class="remove-underline h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                        {% if p_url == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ p_url }}"
                        {% endif %}
                        aria-label="{{ banner_alt }}"
                        style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{% if p_img %}{{ p_img.aspect_ratio }}{% else %}1/1{% endif %}{% else %}{{ aspect_ratio }}{% endif %}"
                      >
                        {%- if p_img -%}
                          {{
                            p_img
                            | image_url: width: 1070
                            | image_tag:
                              loading: 'lazy',
                              sizes: '100vw',
                              widths: '165, 360, 535, 750, 1070, 1500',
                              alt: banner_alt
                          }}
                        {%- else -%}
                          {% render 'placeholder-render' | type: "collection" %}
                        {%- endif -%}
                      </a>
                    {%- else -%}
                      {%- assign default_alt = 'sections.collection_list.sample_name' | t -%}
                      <a
                        class="remove-underline {% if section_st.columns_desktop > 7 %}fs-colum-8{% endif %} {% if section_st.columns_desktop > 3 %}h5{% elsif section_st.columns_desktop > 7 %}fs-20{% else %} fs-30 lh-1-1 heading-style{% endif %} m-0 relative z-2"
                        role="link"
                        aria-disabled="true"
                        aria-label="{{ block.settings.collection_title | default: default_alt }}"
                      >
                        {% render 'placeholder-render' | type: "collection" | index: forloop.index %}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- liquid
                      assign p_url = ''
                      if block.settings.collection != blank
                        assign p_url = block.settings.collection.url
                      endif
                      assign default_alt = 'sections.collection_list.collection_list_image' | t
                    -%}
                    {%- if block.settings.collection_title != blank -%}
                      {%- assign banner_alt = block.settings.collection_title | escape -%}
                    {%- else -%}
                      {%- assign banner_alt = block.settings.collection_image.alt
                        | default: block.settings.collection.title
                        | default: default_alt
                        | escape
                      -%}
                    {%- endif -%}
                    <a
                      class="remove-underline h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                      {% if p_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ p_url }}"
                      {% endif %}
                      aria-label="{{ banner_alt }}"
                      style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{{ block.settings.collection_image.aspect_ratio }}{% else %}{{ aspect_ratio }}{% endif %}"
                    >
                      {{
                        block.settings.collection_image
                        | image_url: width: 1070
                        | image_tag:
                          loading: 'lazy',
                          sizes: '100vw',
                          widths: '165, 360, 535, 750, 1070, 1500',
                          alt: banner_alt
                      }}
                    </a>
                  {%- endif -%}
                </div>
                <div class="collection-information {% if section_st.information_position == 'below' %}mt-20{% endif %}{% if section_st.columns_desktop < 4 %} padding-bigger{% endif %} text-{{ section_st.text_information_alignment }}{% if section_st.information_position == 'overlay' %} absolute d-flex flex-column inset-0 pointer-none justify-content-end{% endif %}">
                  {%- if block.settings.collection_title == blank -%}
                    {%- if block.settings.collection != blank -%}
                      {%- liquid
                        assign p_url = ''
                        if block.settings.collection != blank
                          assign p_url = block.settings.collection.url
                        endif
                      -%}
                      <a
                        class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} {% if section_st.columns_desktop > 7 %}fs-colum-8{% endif %} {% if section_st.columns_desktop > 3 %}h5{% else %} fs-30 lh-1-1 heading-style{% endif %} m-0 relative z-2"
                        {% if p_url == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ p_url }}"
                        {% endif %}
                        aria-label="{{ block.settings.collection.title }}"
                      >
                        {{ block.settings.collection.title }}
                      </a>
                    {%- else -%}
                      <a
                        class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                        role="link"
                        aria-disabled="true"
                        aria-label="{{ 'sections.collection_list.sample_name' | t }}"
                      >
                        {{ 'sections.collection_list.sample_name' | t }}
                      </a>
                    {%- endif -%}
                  {%- else -%}
                    {%- liquid
                      assign p_url = ''
                      if block.settings.collection != blank
                        assign p_url = block.settings.collection.url
                      endif
                    -%}
                    <a
                      class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                      {% if p_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ p_url }}"
                      {% endif %}
                      aria-label="{{ block.settings.collection_title }}"
                    >
                      {{ block.settings.collection_title }}
                    </a>
                  {%- endif -%}
                  {%- if section_st.show_product_count -%}
                    <div class="relative mt-2 product-count z-2 lg:text-base text-sm">
                      {%- assign pc = block.settings.collection.products_count | default: 0 -%}
                      {{ pc }}
                      {%- if pc < 2 -%}
                        {{ 'sections.collection_list.item' | t }}
                      {%- else -%}
                        {{ 'sections.collection_list.items' | t }}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </slide-section>
    {%- else -%}
      <div
        class="collection-list-grid grid-cols gap-{{ section_st.column_gap }}{{ columns_small_desktop }}{{ columns_tablet }}{{ columns_mobile }}{% if section_st.information_position == 'overlay' %} row-as-column-gap{% endif %}"
        style="--col-number: {{ section_st.columns_desktop }}"
      >
        {% for block in section.blocks %}
          <div
            {{ block.shopify_attributes }}
            class="collection-items{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} align-self-start relative"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
            {%- if settings.animations_reveal_on_scroll -%}
              style="--animation-order: {{ forloop.index }};"
            {%- endif -%}
          >
            <div class="collection__inner relative{% if section_st.information_position == 'overlay' %} info-overlay overflow-hidden rounded-corner-item{% endif %} {% if section_st.information_position == 'top' %}d-flex column-reverse information-top {% if section_st.show_framed %}border p-15{% endif %}{% endif %}">
              {% if section_st.information_position == 'top' %}
                {%- liquid
                  assign p_url = ''
                  if block.settings.collection != blank
                    assign p_url = block.settings.collection.url
                  endif
                  assign default_alt = 'sections.collection_list.sample_name' | t
                -%}
                <a
                  class="btn btn-primary"
                  {% if p_url == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ p_url }}"
                  {% endif %}
                  aria-label="{{ block.settings.collection.title | default: default_alt }}"
                >
                  {% render 'icon-arrow-top-right' %}
                </a>
              {% endif %}
              <div
                class="banner__media collection-media {% if section_st.show_framed and design == 'horizontal' %}show-framed{% endif %}"
                style="
                  {%- if aspect_ratio == "adapt" -%}
                    {%- if block.settings.collection_image == blank and block.settings.collection == blank -%}
                      --aspect-ratio: 3/4;
                    {%- endif -%}
                    {%- else -%}
                    --aspect-ratio: {{ aspect_ratio }};
                  {%- endif -%}
                "
              >
                {%- if block.settings.collection_image == blank -%}
                  {%- if block.settings.collection != blank -%}
                    {%- liquid
                      assign p_url = block.settings.collection.url
                      assign p_img = block.settings.collection.featured_image
                    -%}
                    {%- if block.settings.collection_title != blank -%}
                      {%- assign banner_alt = block.settings.collection_title | escape -%}
                    {%- else -%}
                      {%- assign banner_alt = block.settings.collection.title | default: p_img.alt | escape -%}
                    {%- endif -%}
                    <a
                      class="remove-underline h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                      {% if p_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ p_url }}"
                      {% endif %}
                      aria-label="{{ banner_alt }}"
                      style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{% if p_img %}{{ p_img.aspect_ratio }}{% else %}1/1{% endif %}{% else %}{{ aspect_ratio }}{% endif %}"
                    >
                      {%- if p_img -%}
                        {{
                          p_img
                          | image_url: width: 1070
                          | image_tag:
                            loading: 'lazy',
                            sizes: '100vw',
                            widths: '165, 360, 535, 750, 1070, 1500',
                            alt: banner_alt
                        }}
                      {%- else -%}
                        {% render 'placeholder-render' | type: "collection" %}
                      {%- endif -%}
                    </a>
                  {%- else -%}
                    {%- assign default_alt = 'sections.collection_list.sample_name' | t -%}
                    <a
                      class="remove-underline {% if section_st.columns_desktop > 7 %}fs-colum-8{% endif %} {% if section_st.columns_desktop > 3 %} h5{% else %} fs-30 lh-1-1 heading-style{% endif %} m-0 relative z-2"
                      role="link"
                      aria-disabled="true"
                      aria-label="{{ block.settings.collection_title | default: default_alt }}"
                    >
                      {% render 'placeholder-render' | type: "collection" | index: forloop.index %}
                    </a>
                  {%- endif -%}
                {%- else -%}
                  {%- liquid
                    assign p_url = ''
                    if block.settings.collection != blank
                      assign p_url = block.settings.collection.url
                    endif
                    assign default_alt = 'sections.collection_list.collection_list_image' | t
                  -%}
                  {%- if block.settings.collection_title != blank -%}
                    {%- assign banner_alt = block.settings.collection_title | escape -%}
                  {%- else -%}
                    {%- assign banner_alt = block.settings.collection.title
                      | default: block.settings.collection_image.alt
                      | default: default_alt
                      | escape
                    -%}
                  {%- endif -%}
                  <a
                    class="remove-underline h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                    {% if p_url == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ p_url }}"
                    {% endif %}
                    aria-label="{{ banner_alt }}"
                    style="--aspect-ratio: {% if aspect_ratio == "adapt" %}{{ block.settings.collection_image.aspect_ratio }}{% else %}{{ aspect_ratio }}{% endif %}"
                  >
                    {{
                      block.settings.collection_image
                      | image_url: width: 1070
                      | image_tag:
                        loading: 'lazy',
                        sizes: '100vw',
                        widths: '165, 360, 535, 750, 1070, 1500',
                        alt: banner_alt
                    }}
                  </a>
                {%- endif -%}
              </div>
              <div class="collection-information {% if section_st.information_position == 'below' %}mt-20{% endif %}{% if section_st.columns_desktop < 4 %} padding-bigger{% endif %} text-{{ section_st.text_information_alignment }}{% if section_st.information_position == 'overlay' %} absolute d-flex flex-column inset-0 px-15 pb-15 pb-sm-30 px-sm-30 pointer-none justify-content-end{% endif %}">
                {%- if block.settings.collection_title == blank -%}
                  {%- if block.settings.collection != blank -%}
                    {%- liquid
                      assign p_url = ''
                      if block.settings.collection != blank
                        assign p_url = block.settings.collection.url
                      endif
                    -%}
                    <a
                      class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                      {% if p_url == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ p_url }}"
                      {% endif %}
                      aria-label="{{ block.settings.collection.title }}"
                    >
                      {{ block.settings.collection.title }}
                    </a>
                  {%- else -%}
                    <a
                      class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} {% if section_st.columns_desktop > 7 %}fs-colum-8{% endif %} {% if section_st.columns_desktop > 3 %} h5{% else %} fs-30 lh-1-1 heading-style{% endif %} m-0 relative z-2"
                      role="link"
                      aria-disabled="true"
                      aria-label="{{ 'sections.collection_list.sample_name' | t }}"
                    >
                      {{ 'sections.collection_list.sample_name' | t }}
                    </a>
                  {%- endif -%}
                {%- else -%}
                  {%- liquid
                    assign p_url = ''
                    if block.settings.collection != blank
                      assign p_url = block.settings.collection.url
                    endif
                  -%}
                  <a
                    class="remove-underline {% if section_st.information_position == 'below' %}border-animation{% endif %} h5 m-0 relative z-2 hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                    {% if p_url == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ p_url }}"
                    {% endif %}
                    aria-label="{{ block.settings.collection_title }}"
                  >
                    {{ block.settings.collection_title }}
                  </a>
                {%- endif -%}
                {%- if section_st.show_product_count -%}
                  <div class="relative mt-2 product-count z-2 lg:text-base text-sm">
                    {%- assign pc = block.settings.collection.products_count | default: 0 -%}
                    {{ pc }}
                    {%- if pc < 2 -%}
                      {{ 'sections.collection_list.item' | t }}
                    {%- else -%}
                      {{ 'sections.collection_list.items' | t }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {%- endif -%}
    {% if show_progress and section_st.enable_carousel %}
      <div class="custom-controls gap-30 items-center grid-cols-[1fr_auto] mt-40 hidden lg:grid! col-span-full 2xl:px-48 md:px-30 px-20">
        <div class="custom-progress h-[6px] bg-[#DDDDDD] rounded-full ">
          <div class="custom-progress__bar bg-[#151515] h-full rounded-full transition-all! duration-300"></div>
        </div>
        {% if section_st.show_navigation %}
          <div class="inline-flex gap-10 text-center custom-navigation__collection p-3">
            <div id="prev-post-{{ section.id }}" class="btn-icon">
              {% render 'icon-prev', custom_width: 15 %}
            </div>
            <div id="next-post-{{ section.id }}" class="btn-icon">
              {% render 'icon-next', custom_width: 15 %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {%- if section_st.show_view_all != blank and section_st.text_alignment == 'center' and design == 'horizontal' -%}
      <div class="text-center mt-25 xl:mt-80 lg:mt-50">
        <a
          {% if section_st.collection == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section_st.collection.url }}"
            aria-label="{{ section_st.collection | escape }}"
          {% endif %}
          class="btn btn-outline text-sm lg:text-base! align-self-center nowrap pointer mt-12 mt-sm-0{% if section_st.text_alignment == 'center' %} mt-20{% endif %}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "stretch_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_setting.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Collection list",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.option_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.option_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "design",
      "label": "t:sections.collection-list.settings.design.label",
      "default": "horizontal",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.collection-list.settings.design.option__1"
        },
        {
          "value": "vertical",
          "label": "t:sections.collection-list.settings.design.option__2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "t:sections.all.content_setting.show_view_all",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header.collection"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.aspect_ratio.option__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.aspect_ratio.option__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.collection-list.settings.aspect_ratio.option__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.collection-list.settings.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "information_position",
      "options": [
        {
          "value": "overlay",
          "label": "t:sections.collection-list.settings.information_position.option__1"
        },
        {
          "value": "below",
          "label": "t:sections.collection-list.settings.information_position.option__2"
        },
        {
          "value": "top",
          "label": "t:sections.collection-list.settings.information_position.option__3"
        }
      ],
      "default": "below",
      "label": "t:sections.collection-list.settings.information_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "default": false,
      "label": "t:sections.collection-list.settings.show_product_count.label"
    },
    {
      "type": "checkbox",
      "id": "round_image",
      "default": false,
      "label": "t:sections.collection-list.settings.round_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_framed",
      "default": false,
      "label": "t:sections.collection-list.settings.show_framed.label"
    },
    {
      "type": "select",
      "id": "text_information_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.option_2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "label": "t:sections.all.setting.columns_desktop.label",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 5
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "small",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.carousel.header"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "t:sections.all.carousel.enable_carousel.label",
      "default": true,
      "info": "t:sections.collection-list.settings.enable_carousel.description"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": true,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": false,
      "label": "t:sections.all.carousel.show_pagination.label"
    },
    {
      "type": "checkbox",
      "id": "show_progress",
      "default": false,
      "label": "t:sections.collection-list.settings.show_progress.label",
      "info": "t:sections.collection-list.settings.show_progress.info"
    },
    {
      "type": "checkbox",
      "id": "reveal_slide",
      "default": false,
      "info": "t:sections.all.carousel.reveal_slide.info",
      "label": "t:sections.all.carousel.reveal_slide.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.image.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.image.info"
        },
        {
          "type": "text",
          "id": "collection_title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.title.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.title.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
