{{ 'section-image-comparison-slide.css' | asset_url | stylesheet_tag }}
{% liquid
  assign the_settings = settings
  assign sec_settings = section.settings
  assign section_width = ''
  if sec_settings.section_width == 'fix_width'
    assign section_width = 'container'
  elsif sec_settings.section_width == 'expand_full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'full-width-gap'
  endif
  assign image_before = sec_settings.image_before
  assign image_after = sec_settings.image_after | default: image_before
  assign aspect_ratio = sec_settings.aspect_ratio
  assign custom_ratio = sec_settings.custom_ratio
  assign ratio = ''
  if aspect_ratio != 'adapt'
    assign ratio = ''
    case aspect_ratio
      when 'square'
        assign ratio = '1/1'
      when 'portrait'
        assign ratio = '3/4'
      when 'landscape'
        assign ratio = '21/9'
      else
        if custom_ratio != empty
          assign ratio = custom_ratio | replace: ':', '/'
        else
          assign ratio = '4/3'
        endif
    endcase
  else
    if image_before != blank
      assign ratio = image_before.aspect_ratio
    elsif image_after != blank
      assign ratio = image_after.aspect_ratio
    else
      assign ratio = '4/3'
    endif
  endif
  assign block_size = section.blocks.size
  assign sub_des_size = ''
  assign heading_size = ''
  assign header_size = sec_settings.heading_size
  if header_size == 'small'
    assign sub_des_size = ' text-xs'
    assign heading_size = ' h3'
  elsif header_size == 'large'
    assign sub_des_size = ' lg:text-base text-sm'
    assign heading_size = ' lg:text-5xl!'
  endif
  assign enable_radius_bottom = sec_settings.enable_radius_bottom
  assign enable_radius_top = sec_settings.enable_radius_top
%}
{%- capture style -%}
--section-padding-top: {{ sec_settings.padding_top }}px; --section-padding-bottom: {{ sec_settings.padding_bottom }}px;
{%- endcapture -%}
<div
  class="d-block color-{{ sec_settings.color_scheme }} gradient bls__section bls__image-comparison-slide {% if enable_radius_bottom %}radius-bottom{% endif %} {% if enable_radius_top %}radius-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="section-inner section-padding">
      {%- if sec_settings.title != blank or sec_settings.description != blank or sec_settings.subheading != blank -%}
        <div class="bls__section-header mb-40 mb-sm-35 text-{{ sec_settings.text_alignment }}{% if the_settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if sec_settings.subheading != blank -%}
            <p
              class="mt-0 heading-color heading-font mb-10! {{ sub_des_size }}"
            >
              {{ sec_settings.subheading | escape }}
            </p>
          {%- endif -%}
          {%- if sec_settings.title != blank -%}
            <h2 class="mt-0 bls_section-heading heading-letter-spacing mb-7 mb-md-15{{ heading_size }}">{{ sec_settings.title }}</h2>
          {%- endif -%}
          {%- if sec_settings.description != blank -%}
            <div class="short-des{{ sub_des_size }}">
              {{ sec_settings.description }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      {% if block_size > 0 %}
        <image-comparison-content class="flex flex-col-reverse gap-20 lg:flex-row image-comparison-block">
          {% content_for 'blocks' %}
      {% endif %}
      <image-comparison-slide class="image-comparison-slide relative {% if block_size > 0 %}flex-1{% endif %}">
        <div
          class="image-comparison-container group"
          style="--percent:50%;"
        >
          <button
            type="button"
            class="absolute top-0 bottom-0 image-comparison__button z-3 d-flex justify-content-center align-center"
            aria-label="{{ 'button_compare.label' | t }}"
          >
            <span class="cursor-ew-resize lg:w-56 lg:h-132 w-30 h-70">
              <svg xmlns="http://www.w3.org/2000/svg" width="8" height="20" viewBox="0 0 8 20" fill="none">
                <path d="M0.25 0.25V19.75H1.75V0.25H0.25ZM6.25 0.25V19.75H7.75V0.25H6.25Z" fill="#000000"/>
              </svg>
              <div class="absolute rounded-full opacity-50 inset-1 bg-white/50 group-hover:animate-ping z-1"></div>
            </span>
          </button>
          <div class="image-comparison image-comparison__before">
            <div class="relative image-comparison-ratio" style="--aspect-ratio: {{ ratio }};">
              {% if image_before != blank %}
                {% assign alt = 'image.alt' | t %}
                {%- assign image_alt = image_before.alt | default: alt -%}
                {{
                  image_before
                  | image_url: width: 3840
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    alt: image_alt
                }}
              {% else %}
                {%- render 'placeholder-render', type: 'lifestyle' -%}
              {% endif %}
              {% if sec_settings.text_left %}
                <span class="before-text text-sm lg:text-base xl:text-xl drop-shadow-2xl bg-black/20 w-max! backdrop-blur-lg max-w-max! xl:min-w-[208px] xl:min-h-[57px] py-7 px-18 text-white text-center rounded-full text-nowrap justify-center inline-flex items-center  absolute z-2 xl:start-40 xl:bottom-40 bottom-15 start-15">
                  {{ sec_settings.text_left }}
                </span>
              {% endif %}
            </div>
          </div>
          <div class="absolute inset-0 overflow-hidden image-comparison image-comparison__after">
            <div class="relative image-comparison-ratio" style="--aspect-ratio: {{ ratio }};">
              {% if image_after != blank %}
                {% assign alt = 'image.alt' | t %}
                {%- assign image_alt = image_before.alt | default: alt -%}
                {{
                  image_after
                  | image_url: width: 3840
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100vw',
                    widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    alt: image_alt
                }}
              {% else %}
                {%- render 'placeholder-render', type: 'lifestyle' -%}
              {% endif %}
              {% if sec_settings.text_right %}
                <span class="before-text  text-sm lg:text-base xl:text-xl  drop-shadow-2xl bg-black/20 w-max! backdrop-blur-lg max-w-max! xl:min-w-[208px] xl:min-h-[57px] py-7 px-18 text-white text-center rounded-full text-nowrap justify-center inline-flex items-center  absolute z-2 xl:end-40 xl:bottom-40 bottom-15 end-15">
                  {{ sec_settings.text_right }}
                </span>
              {% endif %}
            </div>
          </div>
        </div>
      </image-comparison-slide>
      {% if block_size > 0 %}
        </image-comparison-content>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-comparison-slide.name",
  "tag": "section",
  "class": "section image-comparison-slide",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "max_blocks": 1,
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "stretch_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_setting.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.option_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.option_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-comparison-slide.settings.header.image-options"
    },
    {
      "type": "image_picker",
      "id": "image_before",
      "label": "t:sections.image-comparison-slide.settings.image_before.label"
    },
    {
      "type": "image_picker",
      "id": "image_after",
      "label": "t:sections.image-comparison-slide.settings.image_after.label"
    },
    {
      "type": "text",
      "id": "text_left",
      "label": "t:sections.image-comparison-slide.settings.text_left.label",
      "default": "Text left"
    },
    {
      "type": "text",
      "id": "text_right",
      "label": "t:sections.image-comparison-slide.settings.text_right.label",
      "default": "Text right"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-tabs.settings.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.image-tabs.settings.aspect_ratio.option__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.image-tabs.settings.aspect_ratio.option__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.image-tabs.settings.aspect_ratio.option__3"
        },
        {
          "value": "custom",
          "label": "t:sections.image-tabs.settings.aspect_ratio.option__4"
        }
      ],
      "default": "landscape",
      "label": "t:sections.image-tabs.settings.aspect_ratio.label"
    },
    {
      "type": "text",
      "id": "custom_ratio",
      "label": "t:sections.shopable-video.settings.custom_ratio.label",
      "info": "t:sections.shopable-video.settings.aspect_ratio.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "group-content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-comparison-slide.presets.name"
    }
  ]
}
{% endschema %}
