{%- liquid
  assign sec_settings = section.settings

  assign section_width = ''
  if section.settings.section_width == 'fix_width'
    assign section_width = ' container'
  elsif section.settings.section_width == 'expand_full_width'
    assign section_width = ' full-width px-20'
  else
    assign section_width = ' full-width-gap'
  endif

  assign columns_small_desktop = ''
  if section.settings.columns_desktop > 3
    assign columns_small_desktop = ' small-desktop-4'
  endif

  assign columns_tablet = ''
  if section.settings.columns_desktop > 2
    assign columns_tablet = ' tablet-3'
  endif

  assign columns_mobile = ''
  if section.settings.columns_desktop > 1
    assign columns_mobile = ' mb-2'
  endif
  assign sub_des_size = ''
  assign heading_size = ''
  assign header_size = sec_settings.heading_size
  if header_size == 'small'
    assign sub_des_size = ' text-xs'
    assign heading_size = ' h3'
  elsif header_size == 'large'
    assign sub_des_size = ' lg:text-base text-sm'
    assign heading_size = ' lg:text-5xl!'
  endif
  assign enable_radius_bottom = sec_settings.enable_radius_bottom
  assign enable_radius_top = sec_settings.enable_radius_top
-%}
{%- capture style -%}
--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  {%- endcapture -%}
{%- unless section.blocks.size == 0 and sec_settings.title == blank and sec_settings.description == blank -%}
  <div
    class="color-{{ section.settings.color_scheme }} gradient bls__section section-padding {% if enable_radius_bottom %}radius-bottom{% endif %}{% if enable_radius_top %}radius-top{% endif %}"
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="section-inner{{ section_width }}">
      {%- if sec_settings.title != blank or sec_settings.description != blank or sec_settings.subheading != blank -%}
        <div class="bls__section-header mb-40 mb-sm-35 text-{{ section.settings.text_alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if sec_settings.subheading != blank -%}
            <p
              class="mt-0 heading-color heading-font mb-10! {{ sub_des_size }}"
            >
              {{ sec_settings.subheading | escape }}
            </p>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            <h2 class="bls_section-heading heading-letter-spacing mt-0 mb-7 mb-md-15{{ heading_size }}">
              {{ section.settings.title }}
            </h2>
          {%- endif -%}
          {%- if section.settings.description != blank -%}
            <div class="short-des{{ sub_des_size }}">
              {{ section.settings.description }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      <logo-list style="--logo-width: {{ sec_settings.logo_width }}px; --logo-opacity: {{ sec_settings.logo_opacity }}%">
        {%- if sec_settings.enable_carousel -%}
          <slide-section
            data-items="{{ sec_settings.columns_desktop }}"
            data-controls="{{ sec_settings.show_navigation }}"
            data-nav="{{ sec_settings.show_pagination }}"
            data-loop="false"
            data-autoplay="false"
            data-mouse-drag="true"
            data-autoplay-timeout="5000"
            data-controls-position="top"
            data-nav-as-thumbnails="false"
            data-autoplay-button-output="false"
            data-axis="horizontal"
            data-mode="carousel"
            data-fix-height="false"
            data-product-type="true"
            data-gap="{{ section.settings.column_gap }}"
            class="not-round"
          >
            <div class="slide-container{% if section.settings.center_logo %} d-flex align-center{% endif %}{% if settings.animations_reveal_on_scroll %} slide-animation opacity-0 opacity-1-768{% endif %}">
              {% for block in section.blocks %}
                <div
                  class="logo-items"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {%- if block.settings.image != blank -%}
                    <a
                      class="link banner__media"
                      {%- if block.settings.link == blank -%}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.link }}"
                      {%- endif -%}
                      aria-label="{{ block.settings.image.alt | default: "logo list image" }}"
                      style="--aspect-ratio: {{ block.settings.image.aspect_ratio }}"
                    >
                      {{
                        block.settings.image
                        | image_url: width: 360
                        | image_tag: loading: 'lazy', sizes: '100vw', widths: '165, 360, 535, 750, 1070, 1500'
                      }}
                    </a>
                  {%- else -%}
                    {% render 'placeholder-render' | type: "collection" %}
                  {%- endif -%}
                </div>
              {% endfor %}
            </div>
          </slide-section>
        {%- else -%}
          <div
            class="logo-list-grid grid-cols row-as-column-gap gap-{{ section.settings.column_gap }}{{ columns_small_desktop }}{{ columns_tablet }}{{ columns_mobile }}{% if section.settings.center_logo %} align-center{% endif %}"
            style="--col-number: {{ section.settings.columns_desktop }}"
          >
            {% for block in section.blocks %}
              <div
                class="logo-items{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.image != blank -%}
                  {%- assign img_alt = 'sections.logo_list.img_alt' | t -%}
                  {% if block.settings.image.alt %}
                    {%- assign img_alt = block.settings.image.alt -%}
                  {% endif %}
                  <a
                    class="link banner__media"
                    {%- if block.settings.link == blank -%}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {%- endif -%}
                    aria-label="{{ img_alt }}"
                    style="--aspect-ratio: {{ block.settings.image.aspect_ratio }}"
                  >
                    {{
                      block.settings.image
                      | image_url: width: 360
                      | image_tag: loading: 'lazy', sizes: '100vw', widths: '165, 360, 535, 750, 1070, 1500'
                    }}
                  </a>
                {%- else -%}
                  {% render 'placeholder-render' | type: "collection" %}
                {%- endif -%}
              </div>
            {% endfor %}
          </div>
        {%- endif -%}
      </logo-list>
    </div>
  </div>
{%- endunless -%}
{% schema %}
{
  "name": "t:sections.logo-list.name",
  "tag": "section",
  "class": "section section-logo-list",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "stretch_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.option_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.option_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.logo-list.settings.header.logo_list"
    },
    {
      "type": "checkbox",
      "id": "center_logo",
      "label": "t:sections.logo-list.settings.center_logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 60,
      "max": 400,
      "step": 5,
      "default": 80,
      "unit": "px",
      "label": "t:sections.logo-list.settings.logo_width.label"
    },
    {
      "type": "range",
      "id": "logo_opacity",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 70,
      "label": "t:sections.logo-list.settings.logo_opacity.label",
      "unit": "%"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "label": "t:sections.all.setting.columns_desktop.label",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 8
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "small",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.carousel.header"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel",
      "label": "t:sections.all.carousel.enable_carousel.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": false,
      "label": "t:sections.all.carousel.show_navigation.label"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": false,
      "label": "t:sections.all.carousel.show_pagination.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "limit": 12,
      "name": "t:sections.logo-list.blocks.logo.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.logo-list.blocks.logo.settings.image.label",
          "info": "t:sections.logo-list.blocks.logo.settings.image.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.logo-list.blocks.logo.settings.link.label",
          "info": "t:sections.logo-list.blocks.logo.settings.link.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.logo-list.presets.name",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
