{% liquid
  assign sec_settings = section.settings
  assign gift_wrap_pr = all_products[sec_settings.product_gift_cart]
  assign gift_pr_id = gift_wrap_pr.id
  assign gift_wrap = cart.items | where: 'product_id', gift_pr_id
  if settings.currency_code_enabled
    assign gift_pr_price = gift_wrap_pr.selected_or_first_available_variant.price | money_with_currency
  else
    assign gift_pr_price = gift_wrap_pr.selected_or_first_available_variant.price | money
  endif

  assign section_width = ''
  if sec_settings.section_width == 'fix_width'
    assign section_width = ' container'
  elsif sec_settings.section_width == 'expand_full_width'
    assign section_width = ' full-width px-20'
  else
    assign section_width = ' full-width-gap'
  endif

  assign eb_cart_note = sec_settings.eb_cart_note
  assign eb_gift_wrap = sec_settings.eb_gift_wrap
%}
{%- capture style -%}
  --section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;
{%- endcapture -%}
{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<div
  class="page-cart section-padding {% if cart == empty %} is-empty{% endif %}"
  id="main-cart-items"
  data-id="{{ section.id }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="js-contents{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {% if cart != empty %}
        <div class="page-title text-center mb-80">
          <div class="breadcrumbs mb-10">
            {%- render 'breadcrumbs' -%}
          </div>
          <h1 class="heading-letter-spacing title title--primary h0 text-center">{{ 'sections.cart.title' | t }}</h1>
          {% if settings.show_in_cart_page %}
            <free-ship-progress-bar
              data-order="{{ cart.total_price }}"
              data-fe-amount="{{ settings.minimum_amount }}"
              data-fe-unavaiable="{{ 'sections.cart.free_shipping' | t }}"
              data-fe-avaiable="{{ 'sections.cart.free_shipping_avaiable' | t }}"
              class="border no-js-hidden rounded-10 px-20 pt-12 pb-18 d-block mt-67 mb-35 max-63 m-x-auto"
            >
              <div class="progress-bar-message mb-12 d-flex align-center relative justify-content-center text-left">
                <span class="progress-bar-icon free-shipping-icon mr-8">
                  {% render 'icon-success', custom_width: 18 -%}
                </span>
                <div class="message"></div>
              </div>
              <div class="progress-bar rounded-5">
                <div class="progress"></div>
              </div>
            </free-ship-progress-bar>
          {% endif %}
          <a
            href="{{ routes.all_products_collection_url }}"
            class="remove-underline heading-color btn-text-transform border-bottom fs-bigger-2 border-current"
          >
            {{- 'general.continue_shopping' | t -}}
          </a>
        </div>
      {% endif %}
      <div class="main-cart row">
        <div class="{% if cart != empty %}col-lg-8 mb-60 mb-lg-0{% else %} col-12 {% endif %} cart-left">
          <div class="sticky top-30">
            <cart-items class="{% if cart == empty %}is-empty{% endif %}">
              {% if cart == empty %}
                <div class="cart__warnings text-center">
                  <h1 class="heading-letter-spacing cart__empty-title">{{ 'sections.cart.empty' | t }}</h1>
                  <a href="{{ routes.all_products_collection_url }}" class="button">
                    {{ 'general.continue_shopping' | t }}
                  </a>

                  {%- if shop.customer_accounts_enabled and customer == null -%}
                    <h2 class="heading-letter-spacing cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
                    <p class="cart__login-paragraph">
                      {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                    </p>
                  {%- endif -%}
                </div>
              {% endif %}
              {%- if cart != empty -%}
                <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
                  <div class="cart__items pb-15 border-bottom">
                    <div>
                      <div class="cart-items">
                        <div>
                          {%- for item in cart.items -%}
                            <div
                              class="cart-item product__item border-bottom fs-bigger-2 pb-15 mb-15 last-0"
                              id="CartItem-{{ item.index | plus: 1 }}"
                            >
                              <div class="cart-item_inner d-flex flex-cols" style="--col-gap: 25px">
                                {% if item.image %}
                                  <div class="cart-item__media">
                                    {%- liquid
                                      assign ratio = ''
                                      if settings.product_image_ratio != 'adapt_to_image'
                                        case settings.product_image_ratio
                                          when 'square'
                                            assign ratio = '1/1'
                                          else
                                            assign ratio = '3/4'
                                        endcase
                                      else
                                        assign ratio = item.image.aspect_ratio
                                      endif
                                    -%}
                                    <div class="banner__media align-self-start" style="--aspect-ratio: {{ ratio }}">
                                      <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true">
                                        <img
                                          class="cart-item__image"
                                          src="{{ item.image | image_url: width: 300 }}"
                                          alt="{{ item.image.alt | escape }}"
                                          loading="lazy"
                                          width="150"
                                          height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                                        >
                                      </a>
                                    </div>
                                  </div>
                                {% endif %}
                                <div class="cart-item__details flex-1">
                                  <div class="cart-item__details-info d-flex flex-column space-between h-full">
                                    <div class="cart-item__details-info-top d-flex space-between gap-10 flex-1">
                                      <div class="cart-item-info">
                                        {%- if settings.show_vendor -%}
                                          <p class="caption-with-letter-spacing light mb-0 break-word fs-small">
                                            {{ item.product.vendor }}
                                          </p>
                                        {%- endif -%}
                                        <a
                                          href="{{ item.url }}"
                                          class="remove-underline border-animation product__name heading-style lh-1"
                                        >
                                          {{- item.product.title | escape -}}
                                        </a>
                                        {%- if item.product.has_only_default_variant == false
                                          or item.properties.size != 0
                                          or item.selling_plan_allocation != null
                                        -%}
                                          <div class="product_option-cart mt-8 fs-small-3 btn-text-transform">
                                            {%- if item.product.has_only_default_variant == false -%}
                                              {%- for option in item.options_with_values -%}
                                                {{ option.name }}:
                                                <div class="product-option d-inline-flex pr-3 fs-small-3">
                                                  {{ option.value -}}
                                                  {%- unless forloop.last %}, {% endunless %}
                                                </div>
                                              {%- endfor -%}
                                            {%- endif -%}

                                            {%- for property in item.properties -%}
                                              {%- assign property_first_char = property.first | slice: 0 -%}
                                              {%- if property.last != blank and property_first_char != '_' -%}
                                                <div class="product-option d-inline-flex pr-3 fs-small-3">
                                                  {%- if property.last contains '/uploads/' -%}
                                                    <a
                                                      href="{{ property.last }}"
                                                      class="link"
                                                      target="_blank"
                                                      aria-describedby="a11y-new-window-message"
                                                    >
                                                      {{ property.last | split: '/' | last }}
                                                    </a>
                                                  {%- else -%}
                                                    {{ property.last }}
                                                  {%- endif -%}
                                                </div>
                                              {%- endif -%}
                                            {%- endfor -%}
                                          </div>
                                          <p class="product-option pr-3 btn-text-transform  fs-small mb-0">
                                            {{ item.selling_plan_allocation.selling_plan.name }}
                                          </p>
                                        {%- endif -%}
                                        {%- if item.original_price != item.final_price -%}
                                          <div class="cart-item__discounted-prices">
                                            <span class="visually-hidden">
                                              {{ 'products.product.price.regular_price' | t }}
                                            </span>
                                            <s class="cart-item__old-price product-option d-inline-flex pr-3 fs-small-3">
                                              {{- item.original_price | money -}}
                                            </s>
                                            <span class="visually-hidden">
                                              {{ 'products.product.price.sale_price' | t }}
                                            </span>
                                            <strong class="cart-item__final-price product-option d-inline-flex pr-3 fs-small-3">
                                              {{ item.final_price | money }}
                                            </strong>
                                          </div>
                                        {%- else -%}
                                          <div class="mt-8 fs-small">
                                            {{ item.original_price | money }}
                                          </div>
                                        {%- endif -%}
                                        <ul
                                          class="discounts list-unstyled"
                                          role="list"
                                          aria-label="{{ 'customer.order.discount' | t }}"
                                        >
                                          {%- for discount in item.discounts -%}
                                            <li class="discounts__discount">
                                              {%- render 'icon-discount' -%}
                                              {{ discount.title }}
                                            </li>
                                          {%- endfor -%}
                                        </ul>
                                      </div>
                                      <div class="cart-item__totals right heading-color pl-5 text-size">
                                        <div class="cart-item__price-wrapper word-break d-inline-flex align-center gap-5 flex-wrap">
                                          {%- if item.original_line_price != item.final_line_price -%}
                                            <div class="cart-item__discounted-prices">
                                              <span class="visually-hidden">
                                                {{ 'products.product.price.regular_price' | t }}
                                              </span>
                                              <s class="cart-item__old-price price price--end">
                                                {{ item.original_line_price | money }}
                                              </s>
                                              <span class="visually-hidden">
                                                {{ 'products.product.price.sale_price' | t }}
                                              </span>
                                              <span class="price price--end">
                                                {{ item.final_line_price | money }}
                                              </span>
                                            </div>
                                          {%- else -%}
                                            <span class="visually-hidden">
                                              {{ 'products.product.price.regular_price' | t }}
                                            </span>
                                            <span class="price price--end">
                                              {{ item.original_line_price | money }}
                                            </span>
                                          {%- endif -%}

                                          {%- if item.variant.available and item.unit_price_measurement -%}
                                            <div class="unit-price caption">
                                              <span class="visually-hidden">
                                                {{- 'products.product.price.unit_price' | t -}}
                                              </span>
                                              {{ item.variant.unit_price | money }}
                                              <span aria-hidden="true">/</span>
                                              <span class="visually-hidden"
                                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                              >
                                              {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                                {{- item.variant.unit_price_measurement.reference_value -}}
                                              {%- endif -%}
                                              {{ item.variant.unit_price_measurement.reference_unit }}
                                            </div>
                                          {%- endif -%}
                                        </div>
                                      </div>
                                    </div>
                                    <div class="cart-item__quantity-wrapper product-form__input product-form__quantity  d-flex flex-wrap align-center mt-10">
                                      <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                                        {{ 'products.product.quantity.label' | t }}
                                      </label>
                                      <quantity-input
                                        class="quantity cart-quantity focus-within:border-black! d-inline-flex align-center outline-style reset-hover rounded-10 p-0!"
                                        style="--input-height: 35px"
                                      >
                                        <button
                                          class="button quantity__button no-js-hidden btn-reset relative rounded-full"
                                          name="minus"
                                          type="button"
                                        >
                                          <span class="visually-hidden">
                                            {{-
                                              'products.product.quantity.decrease'
                                              | t: product: item.product.title
                                              | escape
                                            -}}
                                          </span>
                                          {% render 'icon-minus', custom_width: 12 %}
                                        </button>
                                        <input
                                          class="quantity__input border-0 p-0 text-center w-38"
                                          data-quantity-variant-id="{{ item.variant.id }}"
                                          type="number"
                                          name="updates[]"
                                          value="{{ item.quantity }}"
                                          {% # theme-check-disable %}
                                          data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                          min="{{ item.variant.quantity_rule.min }}"
                                          {% if item.variant.quantity_rule.max != null %}
                                            max="{{ item.variant.quantity_rule.max }}"
                                          {% endif %}
                                          step="{{ item.variant.quantity_rule.increment }}"
                                          {% # theme-check-enable %}
                                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                          id="Quantity-{{ item.index | plus: 1 }}"
                                          data-index="{{ item.index | plus: 1 }}"
                                        >
                                        <button
                                          class="button quantity__button no-js-hidden btn-reset relative rounded-full"
                                          name="plus"
                                          type="button"
                                        >
                                          <span class="visually-hidden">
                                            {{-
                                              'products.product.quantity.increase'
                                              | t: product: item.product.title
                                              | escape
                                            -}}
                                          </span>
                                          {% render 'icon-plus', custom_width: 12 %}
                                        </button>
                                      </quantity-input>

                                      <cart-remove-button
                                        id="Remove-{{ item.index | plus: 1 }}"
                                        data-index="{{ item.index | plus: 1 }}"
                                      >
                                        <a
                                          href="{{ item.url_to_remove }}"
                                          class="button button--tertiary btn-reset nowrap underline fs-small ml-10 btn-remove-cart-item transition text-color"
                                        >
                                          <span class="capitalize border-bottom currentColor lh-1">
                                            {{- 'sections.cart.remove_title' | t -}}
                                          </span>
                                        </a>
                                      </cart-remove-button>
                                    </div>
                                    <div
                                      class="cart-item__error w-full"
                                      id="Line-item-error-{{ item.index | plus: 1 }}"
                                      role="alert"
                                    >
                                      <small class="cart-item__error-text"></small>
                                      {% render 'icon-error', custom_width: 20 %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
                  <p
                    class="visually-hidden"
                    id="shopping-cart-line-item-status"
                    aria-live="polite"
                    aria-hidden="true"
                    role="status"
                  >
                    {{ 'accessibility.loading' | t }}
                  </p>
                </form>
              {%- endif -%}
            </cart-items>
            {%- if cart != empty -%}
              {% if eb_gift_wrap and gift_wrap_pr.variants.size == 1 %}
                <cart-gift-wrap
                  id="bls__gift"
                  data-variant-id="{{ gift_wrap_pr.selected_or_first_available_variant.id }}"
                >
                  <div
                    class="d-flex bls__mini_cart-tool no-js-hidden bls__gift-js text-left mt-15 mb-30{% if gift_wrap != blank %} d-none{% endif %}"
                    data-index="1"
                  >
                    <input type="checkbox" id="giftPrice">
                    <label class="field pl-8" for="giftPrice">
                      {{ 'sections.cart.gift.gift_wrap_html' | t: price: gift_pr_price }}
                    </label>
                  </div>
                </cart-gift-wrap>
              {% endif %}
              {%- if cart != empty and settings.enable_product_recommendations -%}
                {%- if settings.recommendation_product_type == 'auto' -%}
                  <minicart-recommendations
                    data-url="{{ routes.product_recommendations_url }}?product_id={{ cart.items.first.product_id }}&limit=6&section_id=cart-upsell"
                    class="d-block pt-40 cart-upsell-js{% if settings.recommendation_product_type == 'auto' %} no-js-hidden{% endif %}"
                  >
                {%- else -%}
                  <div
                    class="d-block pt-40 cart-upsell-js cart-type-select{% if settings.select_product_recommendation == blank %} d-none{% endif %}"
                  >
                {%- endif -%}
                {%- if settings.product_recommendations_heading -%}
                  <div class="minicart-recommendations-title fs-bigger-2 heading-color btn-text-transform  mb-18">
                    {{ settings.product_recommendations_heading }}
                  </div>
                {%- endif -%}
                <div class="minicart-upsell-product">
                  <slide-section
                    class="slide-minicart"
                    data-items="2"
                    data-items-mb="1"
                    data-controls="false"
                    data-nav="true"
                    data-loop="false"
                    data-autoplay="false"
                    data-mouse-drag="true"
                    data-autoplay-timeout="5000"
                    data-controls-position="top"
                    data-nav-as-thumbnails="false"
                    data-autoplay-button-output="false"
                    data-axis="horizontal"
                    data-mode="carousel"
                    data-fix-height="false"
                    data-product-type="true"
                    data-gap="medium"
                  >
                    <div class="slide-container no-js-scroll">
                      {%- if settings.recommendation_product_type != 'auto' -%}
                        {%- for item in settings.select_product_recommendation -%}
                          {% liquid
                            assign hidden = false
                            for itemcart in cart.items
                              if itemcart.product_id == item.id
                                assign hidden = true
                              endif
                            endfor
                          %}
                          {%- unless hidden -%}
                          {% render 'card-product',
                            card_product: item,
                            section_id: section.id,
                            disable_quickview: true,
                            show_quick_add: true,
                            disable_badge: true,
                            disable_rate: true,
                            disable_swatch: true,
                            enable_view_product: false,
                            disable_vendor: true,
                            template: 'minicart'
                          %}
                          {%- endunless -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  </slide-section>
                </div>
                {%- if settings.recommendation_product_type == 'auto' -%}
                  </minicart-recommendations>
                {%- else -%}
                  </div>
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
        {%- if cart != empty -%}
          <div class="cart-right col-lg-4">
            <div class="sticky top-30">
              {%- if eb_cart_note -%}
                <cart-note class="cart__note field flex-column gap-0">
                  <div class="cart__note-title active btn-text-transform heading-color border-bottom fs-bigger-2 pointer relative d-flex align-center space-between mb-20">
                    <label>{{ 'sections.cart.note' | t }}</label>
                    <span class="open-children-toggle touch-target transition no-js-hidden">
                      {% render 'icon-plus-animation', custom_width: 12 %}
                    </span>
                  </div>
                  <div class="cart__note-content" style="display: block;">
                    <textarea
                      class="text-area field__input"
                      name="note"
                      form="cart"
                      id="Cart-note"
                      placeholder="{{ 'sections.cart.note' | t }}"
                    >{{ cart.note }}</textarea>
                  </div>
                </cart-note>
              {%- endif -%}
              <cart-estimate class="d-block bls__addon mt-15 pb-15 no-js-hidden mb-20 mb-lg-40" id="bls__shipping">
                <form>
                  <div class="bls__addon-title mb-15 active btn-text-transform heading-color border-bottom fs-bigger-2 pointer relative d-flex align-center space-between">
                    <span>{{ 'sections.cart.shipping.estimate_shipping_title' | t }}</span>
                    <span class="open-children-toggle touch-target transition no-js-hidden">
                      {% render 'icon-plus-animation', custom_width: 12 %}
                    </span>
                  </div>
                  <div class="bls__addon-main-content" style="display: block;">
                    <div class="bls__addon-content">
                      <div data-address="root">
                        <div class="form-group mb-15 d-flex flex-column select">
                          <label for="address_country" class="mb-5">{{ 'customer.addresses.country' | t }}</label>
                          <div class="select relative">
                            <select
                              id="address_country"
                              class="form-control w-full"
                              name="address[country]"
                              data-default="{{ settings.default_country_estimate_shipping | default: 'United States' }}"
                            >
                              {{ country_option_tags }}
                            </select>
                            <div class="icon-down absolute right-15 inset-y-0 d-inline-flex align-center pointer-none">
                              {% render 'icon-caret', custom_width: 12 %}
                            </div>
                          </div>
                        </div>
                        <div
                          id="address_province_container"
                          class="address_province_container form-group mb-15 d-flex flex-column"
                        >
                          <label for="address_province" class="mb-5">{{ 'customer.addresses.province' | t }}</label>
                          <div class="select relative">
                            <select
                              id="address_province"
                              class="form-control w-full"
                              name="address[province]"
                              data-default="{{ form.province }}"
                            ></select>
                            <div class="icon-down absolute right-15 inset-y-0 d-inline-flex align-center pointer-none">
                              {% render 'icon-caret', custom_width: 12 %}
                            </div>
                          </div>
                        </div>
                        <div class="form-group mb-15 d-flex flex-column">
                          <label for="AddressZip" class="mb-5">{{ 'customer.addresses.zip' | t }}</label>
                          <input
                            type="text"
                            class="form-control"
                            id="AddressZip"
                            name="address[zip]"
                            value="{{ form.zip }}"
                            autocapitalize="characters"
                            autocomplete="postal-code"
                          >
                        </div>
                      </div>
                    </div>
                    <div class="bls__addon-actions">
                      <button
                        class="button btn-save w-full accent-color-second-bg heading-color"
                        data-action="shipping"
                      >
                        {{ 'sections.cart.shipping.estimate_shipping_button' | t }}
                      </button>
                    </div>
                    <div class="bls__addon-message py-5 mt-15"></div>
                  </div>
                </form>
              </cart-estimate>
              <div class="totals d-flex flex-wrap gap-5 align-center flex-end mb-10 fs-bigger-4">
                <p class="totals__subtotal-value mb-0 heading-color">
                  <span class="totals__subtotal"> {{ 'sections.cart.subtotal' | t }}:</span>
                  {{ cart.total_price | money_with_currency }}
                </p>
              </div>
              <div class="js-contents">
                <div class="text-right">
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul
                      class="discounts list-unstyled mb-5"
                      role="list"
                      aria-label="{{ 'customer.order.discount' | t }}"
                    >
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <p class="caption-large rte text-right fs-small">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </p>
              </div>

              <div class="cart__ctas text-right">
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary mb-30" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button
                  type="submit"
                  id="checkout"
                  class="cart__checkout-button button w-full"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  form="cart"
                >
                  <p id="cart-live-region-text" aria-live="polite" role="status">
                    {{ 'sections.page_cart.checkout' | t }}
                  </p>
                </button>
              </div>

              {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons mt-15">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {%- endif -%}
              <div id="cart-errors"></div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "checkbox",
      "id": "eb_cart_note",
      "label": "t:sections.main-cart-items.settings.eb_cart_note",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.main-cart-items.settings.gift_wrap.heading"
    },
    {
      "type": "checkbox",
      "id": "eb_gift_wrap",
      "label": "t:sections.main-cart-items.settings.gift_wrap.eb_gift_wrap",
      "default": true
    },
    {
      "type": "product",
      "id": "product_gift_cart",
      "label": "t:sections.main-cart-items.settings.gift_wrap.label",
      "info": "t:sections.main-cart-items.settings.gift_wrap.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ]
}
{% endschema %}
