{%- capture style -%}
    --section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;
{%- endcapture -%}
<div class="section-padding" style="{{ style | strip | strip_newlines }}">
  <div class="container">
    <div class="page-title text-center">
      <div class="page-content">
        {% if section.settings.eb_breadcrumb %}
          <div class="breadcrumbs mb-10{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {%- render 'breadcrumbs' -%}
          </div>
        {% endif %}
        <div class="bls__section-header{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          <h1 class="heading-letter-spacing h0 mb-0 mt-0">
            {{ page.title }}
          </h1>
        </div>
      </div>
    </div>
    <div class="rte section-spacing">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "eb_breadcrumb",
      "label": "Enable breadcrumb",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ]
}
{% endschema %}
