{{ 'section-product-testimonials.css' | asset_url | stylesheet_tag }}
{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign section_width = ''
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'expand_full_width'
    assign section_width = 'full-width px-20'
  else
    assign section_width = 'full-width-gap'
  endif
  assign tb_top_spacing = ''
  if section_st.padding_top > theme_st.vertical_space_tablet
    assign tb_top_spacing = ' top-tb'
  endif
  assign tb_bottom_spacing = ''
  if section_st.padding_bottom > theme_st.vertical_space_tablet
    assign tb_bottom_spacing = ' bottom-tb'
  endif
  assign mb_top_spacing = ''
  if section_st.padding_top > theme_st.vertical_space_mobile
    assign mb_top_spacing = ' top-mb'
  endif
  assign mb_bottom_spacing = ''
  if section_st.padding_bottom > theme_st.vertical_space_mobile
    assign mb_bottom_spacing = ' bottom-mb'
  endif
  assign design = section_st.design
  assign sub_des_size = ''
  assign heading_size = ''
  assign header_size = section_st.heading_size
  if header_size == 'small'
    assign sub_des_size = ' text-xs'
    assign heading_size = ' h3'
  elsif header_size == 'large'
    assign sub_des_size = ' lg:text-base text-sm'
    assign heading_size = ' lg:text-5xl!'
  endif
  assign enable_radius_bottom = section_st.enable_radius_bottom
  assign enable_radius_top = section_st.enable_radius_top
%}
{%- capture style -%}
--section-padding-top: {{ section_st.padding_top }}px; --section-padding-bottom: {{ section_st.padding_bottom }}px;
{%- endcapture -%}
{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
  calc(100vw - 10rem), 100vw
{%- endcapture -%}
<div
  class="d-block color-{{ section_st.color_scheme }} gradient bls__section testimonials-section testimonials-section-products {% if enable_radius_bottom %}radius-bottom{% endif %} {% if enable_radius_top %}radius-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="section-inner section-padding {{ tb_top_spacing }}{{ tb_bottom_spacing }}{{ mb_top_spacing }}{{ mb_bottom_spacing }} {% if design == 'vertical' %} flex flex-col gap-20 lg:flex-row testimonials-vertical-wrapper{% endif %}">
      {%- if section_st.subheading != blank or section_st.title != blank or section_st.description != blank or section_st.design == 'vertical' -%}
        <div class="bls__section-header mb-40 mb-sm-35 text-{{ section_st.text_alignment }}{% if theme_st.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {%- if section_st.subheading != blank -%}
            <p class="sub-heading{{ sub_des_size }}">
              {{ section_st.subheading }}
            </p>
          {%- endif -%}
          {%- if section_st.title != blank -%}
            <h2 class="bls_section-heading heading-letter-spacing mt-0 mb-7 mb-md-15{{ heading_size }}">{{ section_st.title }}</h2>
          {%- endif -%}
          {%- if section_st.description != blank -%}
            <div class="short-des mb-15{{ sub_des_size }}">
              {{ section_st.description }}
            </div>
          {%- endif -%}
          {% if section_st.design == 'vertical' %}
            {%- if section_st.show_navigation or section_st.show_pagination -%}
              <div class="hidden mt-10 lg:mt-auto md:block">
                <div class="inline-flex gap-20 controls align-center">
                  {% if section_st.show_navigation %}
                    <div id="prev-post-{{ section.id }}" class="btn-icon">
                      {% render 'icon-prev', custom_width: 14 %}
                    </div>
                  {% endif %}
                  {%- if section_st.show_pagination -%}
                    <div class="min-w-[4rem] space-x-7 mx-15  text-heading-color text-sm pagination-counter-{{ section.id }}">
                      <span class="current">1</span><span>/</span><span class="total">{{ section.blocks.size }}</span>
                    </div>
                  {%- endif -%}
                  {% if section_st.show_navigation %}
                    <div id="next-post-{{ section.id }}" class="btn-icon">
                      {% render 'icon-next', custom_width: 14 %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {%- endif -%}
          {% endif %}
        </div>
      {%- endif -%}
      <slide-section
        class="testimonials-gallery-product not-round design_2"
        data-items="{{ section_st.testimonial_to_show }}"
        data-controls="{{ section_st.show_navigation }}"
        data-loop="true"
        data-nav="{{ section_st.show_pagination }}"
        data-autoplay="{{ section_st.enable_autoplay }}"
        data-mouse-drag="true"
        data-autoplay-timeout="{{ section_st.carousel_time | times: 1000 }}"
        data-controls-position="top"
        data-nav-as-thumbnails="true"
        data-autoplay-button-output="false"
        data-axis="horizontal"
        data-center="true"
        data-mode="carousel"
        data-fix-height="false"
        data-product-type="true"
        data-gap="{{ section_st.column_gap }}"
        data-mobile="1"
        data-free-scroll="{% if design == 'vertical' %}true{% else %}false{% endif %}"
        data-next="{% if design == 'vertical' %}next-post-{{ section.id }}{% endif %}"
        data-prev="{% if design == 'vertical' %}prev-post-{{ section.id }}{% endif %}"
        data-section-id="{{ section.id }}"
      >
        <div class="slide-container no-js-scroll{% if theme_st.animations_reveal_on_scroll %} slide-animation opacity-0 opacity-1-768{% endif %}">
          {%- for block in section.blocks -%}
            {% liquid
              assign block_st = block.settings
              assign product = block_st.product
            %}
            <div
              {{ block.shopify_attributes }}
              class="text-center bls_testimonials-section-items"
              {% if theme_st.animations_reveal_on_scroll %}
                data-cascade
              {% endif %}
              style="
                {%- if theme_st.animations_reveal_on_scroll -%}
                  --animation-order: {{ forloop.index }};
                {%- endif -%}
              "
            >
              {% if design == 'horizontal' %}
                {% if section_st.show_rate %}
                  <div class="testimonials-rating d-flex justify-content-center mb-25 mb-md-0 mt-7 mt-md-0">
                    {%- for i in (1..block_st.author_rating) -%}
                      {% render 'icon-star-solid' %}
                    {%- endfor -%}
                  </div>
                {% endif %}
                {% if section_st.show_author_image %}
                  <div
                    class="testimonials-author-image mt-30 mt-md-45 mb-7 w-60 h-60 m-x-auto"
                    style="--aspect-ratio: 1/1"
                  >
                    {% if block_st.author_image != blank %}
                      {%- liquid
                        assign alt = 'sections.testimonial.alt' | t
                        if block_st.author_image.alt
                          assign alt = block_st.author_image.alt | escape
                        endif
                      -%}
                      <img
                        data-src="{{ block_st.author_image | image_url }}"
                        srcset="
                          {%- if block_st.author_image.width >= 550 -%}{{ block_st.author_image | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if block_st.author_image.width >= 1100 -%}{{ block_st.author_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                          {%- if block_st.author_image.width >= 1445 -%}{{ block_st.author_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                          {%- if block_st.author_image.width >= 1680 -%}{{ block_st.author_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                          {%- if block_st.author_image.width >= 2048 -%}{{ block_st.author_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                          {%- if block_st.author_image.width >= 2200 -%}{{ block_st.author_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                          {%- if block_st.author_image.width >= 2890 -%}{{ block_st.author_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                          {%- if block_st.author_image.width >= 4096 -%}{{ block_st.author_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                          {{ block_st.author_image | image_url }} {{ block_st.author_image.width }}w
                        "
                        sizes="100vw"
                        src="{{ block_st.author_image | image_url: width: 1100 }}"
                        alt="{{ alt }}"
                        loading="lazy"
                        width="{{ block_st.author_image.width }}"
                        height="{{ block_st.author_image.width }}"
                        class="round-50"
                      >
                    {% else %}
                      {% render 'placeholder-render' | type: "blog" | class: 'h-60 w-60 round-50' %}
                    {% endif %}
                  </div>
                {% endif %}
                {% if section_st.show_author_name or section_st.show_author_info %}
                  <div class="pt-0 mt-10 testimonials-group pt-md-15 fs-small-1 d-inline-flex align-center fs-16">
                    {% if section_st.show_author_name %}
                      <div class="testimonials-author heading-color fs-bigger-2 heading-weight">
                        {{ block_st.author_name }}
                      </div>
                    {% endif %}
                    {% if section_st.show_author_name and section_st.show_author_info %}
                      <div class="mx-3 fs-small-1 heading-color">/</div>
                    {% endif %}
                    {% if section_st.show_author_info %}
                      <div class="testimonials-adress fs-bigger-2 heading-color">{{ block_st.author_address }}</div>
                    {% endif %}
                  </div>
                {% endif %}
                <blockquote class="m-0 testimonials-quote h2 text-transform-unset lh-1-2 pb-15 pt-25">
                  {{ block_st.author_text }}
                </blockquote>
                {% if section_st.show_date_published %}
                  <span class="testimonials-date fs-bigger-2 heading-color">
                    {{- block_st.author_published -}}
                  </span>
                {% endif %}
                <div
                  class="relative p-20 text-left border testimonials-products m-x-auto"
                >
                  {% render 'card-product',
                    card_product: product,
                    section_id: section.id,
                    disable_quickview: true,
                    show_quick_add: true,
                    disable_badge: true,
                    disable_rate: true,
                    disable_swatch: true,
                    enable_view_product: false,
                    disable_vendor: false
                  %}
                </div>
              {% else %}
                <div
                  class="testimonials-vertical flex *:flex-1/2 gap-[var(--col-gap)] gap-{{ section_st.column_gap }}"
                >
                  <div
                    class="testimonials-vertical__media relative group shrink-0!"
                  >
                    <div
                      class="testimonials-vertical__image rounded-xl h-full overflow-hidden *:transition *:duration-300  *:group-hover:scale-105"
                      {% if block_st.author_image != blank %}
                        style="--aspect-ratio: {{ block_st.author_image.aspect_ratio }}";
                      {% else %}
                        style="--aspect-ratio: 16/9";
                      {% endif %}
                    >
                      {% if block_st.author_image != blank %}
                        {% assign alt_default = 'sections.testimonial.alt' | t %}
                        {%- assign image_alt = block_st.author_image.alt | default: alt_default -%}
                        {{
                          block_st.author_image
                          | image_url: width: 3840
                          | image_tag:
                            loading: 'lazy',
                            sizes: sizes,
                            widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                            alt: image_alt
                        }}
                      {% else %}
                        {%- render 'placeholder-render', type: 'lifestyle' -%}
                      {% endif %}
                    </div>
                    {% if product != blank %}
                      <a
                        aria-label="{{ product.title }}"
                        href="{{ product.url }}"
                        class="testimonials-vertical__media-link size-48 rounded-full bg-white inline-flex justify-center absolute md:end-20 md:bottom-20 bottom-12 end-12 shadow transition duration-300 hover:scale-105 hover:text-white! hover:bg-black/90 focus:ring-2! focus:ring-black/60!"
                      >
                        {% render 'icon-cart', custom_width: 24 %}
                        <span
                          class="absolute inline-flex w-full h-full rounded-full opacity-0 animate-ping bg-white/50 group-hover:opacity-50"
                        ></span>
                      </a>
                    {% endif %}
                  </div>
                  <div class="testimonials-vertical__content item-content rounded-xl bg-[#F4F4F4] flex flex-col p-24 lg:px-36 lg:py-48 text-start">
                    {% if section_st.show_rate %}
                      <div class="flex mb-10 testimonials-rating">
                        {%- for i in (1..block_st.author_rating) -%}
                          {% render 'icon-star-solid' %}
                        {%- endfor -%}
                      </div>
                    {% endif %}
                    <blockquote class="testimonials-quote h2 mt-auto! p-0! mb-0! lg:mb-10! lg:line-clamp-none">
                      <p class="lg:mb-30!">{% render 'icon-quote' %}</p>
                      {{ block_st.author_text }}
                    </blockquote>
                    {% if section_st.show_author_name or section_st.show_author_info %}
                      <div class="pt-0 mt-10 testimonials-group pt-md-15 fs-small-1 d-flex flex-column fs-16">
                        {% if section_st.show_author_name %}
                          <div class="testimonials-author heading-color fs-bigger-2 heading-weight">
                            {{ block_st.author_name }}
                          </div>
                        {% endif %}
                        {% if section_st.show_author_info %}
                          <div class="testimonials-adress fs-bigger-2 heading-color">{{ block_st.author_address }}</div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          {%- endfor -%}
        </div>
      </slide-section>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.testimonials-product.name",
  "tag": "section",
  "class": "section testimonials-product",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "stretch_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_setting.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.option_1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.option_2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.option_3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "select",
      "id": "design",
      "label": "t:sections.all.design.label",
      "default": "horizontal",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.all.design.option__1"
        },
        {
          "value": "vertical",
          "label": "t:sections.all.design.option__2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.testimonials.settings.header.heading_setting"
    },
    {
      "type": "checkbox",
      "id": "show_rate",
      "label": "t:sections.testimonials.settings.testimonials_setting.show_rate",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_date_published",
      "label": "t:sections.testimonials.settings.testimonials_setting.show_date_published",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author_image",
      "label": "t:sections.testimonials.settings.testimonials_setting.show_author_image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author_name",
      "label": "t:sections.testimonials.settings.testimonials_setting.show_author_name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author_info",
      "label": "t:sections.testimonials.settings.testimonials_setting.show_author_info",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.carousel.header"
    },
    {
      "type": "select",
      "id": "testimonial_to_show",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "1.5",
          "label": "1.5"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "label": "t:sections.testimonials.settings.carousel.qty_item"
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "default": true,
      "label": "t:sections.testimonials.settings.carousel.show_navigation"
    },
    {
      "type": "checkbox",
      "id": "show_pagination",
      "default": true,
      "label": "t:sections.all.carousel.show_pagination.label"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "t:sections.testimonials.settings.carousel.autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "carousel_time",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.testimonials.settings.carousel.delay_time"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "testimonials_items",
      "name": "t:sections.testimonials.settings.block.add_testimonial",
      "limit": 6,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.testimonials.settings.block.product.select_product"
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "t:sections.testimonials.settings.block.author_image"
        },
        {
          "type": "range",
          "id": "author_rating",
          "label": "t:sections.testimonials.settings.block.rating",
          "min": 1,
          "max": 5,
          "default": 5,
          "step": 1
        },
        {
          "type": "richtext",
          "id": "author_text",
          "default": "<p>You can add text content from press comments, reviews, or testimonials here.</p>",
          "label": "t:sections.testimonials.settings.block.author_text"
        },
        {
          "type": "text",
          "id": "author_name",
          "default": "Author's name",
          "label": "t:sections.testimonials.settings.block.author_name"
        },
        {
          "type": "text",
          "id": "author_address",
          "label": "t:sections.testimonials.settings.block.author_address",
          "default": "Author info"
        },
        {
          "type": "text",
          "id": "author_published",
          "label": "t:sections.testimonials.settings.block.author_published",
          "default": "Date published"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials-product.presets.name",
      "blocks": [
        {
          "type": "testimonials_items"
        },
        {
          "type": "testimonials_items"
        },
        {
          "type": "testimonials_items"
        },
        {
          "type": "testimonials_items"
        },
        {
          "type": "testimonials_items"
        }
      ]
    }
  ]
}
{% endschema %}
