{% liquid
  assign sec_settings = section.settings
  assign section_width = ''
  if sec_settings.section_width == 'fix_width'
    assign section_width = ' container'
  elsif sec_settings.section_width == 'expand_full_width'
    assign section_width = ' full-width'
  else
    assign section_width = ' full-width-gap'
  endif
  assign enable_radius_bottom = sec_settings.enable_radius_bottom
  assign enable_radius_top = sec_settings.enable_radius_top
%}
{%- capture sizes -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
{%- endcapture -%}
{%- capture style -%}
--section-padding-top: {{ section.settings.padding_top }}px; --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  {%- endcapture -%}
<div
  class="bls__section promotion-banner-section overflow-hidden section-padding has-vertical-gap row-as-column-gap gap-{{ section.settings.column_gap }} {% if enable_radius_bottom %}radius-bottom{% endif %}{% if enable_radius_top %}radius-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="section-inner{{ section_width }}">
    {%- if section.blocks.size > 0 -%}
      <div class="promotion-banner__blocks d-flex flex-wrap flex-cols flex-column flex-md-row row-as-column-gap gap-{{ section.settings.column_gap }}">
        {%- for block in section.blocks -%}
          <div
            class="promotion-banner-block w-full w-md-unset align-self-{{ block.settings.vertical }}"
            style="--promotion-banner-block: {{ block.settings.content_width }}"
            {{ block.shopify_attributes }}
          >
            {%- case block.type -%}
              {%- when 'image_with_text_overlay' -%}
                <div
                  class="color-{{ block.settings.color_scheme }} gradient{% if block.settings.reset_color %} reset-color-on-mb color-default-color-scheme{% endif %} section-inner d-flex relative{% if block.settings.show_text_bellow %} flex-column flex-md-row text-bellow-mb{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} hover-effect{% if settings.enable_zoom_effect %} zoom-in{% else %} fade-in{% endif %}"
                  style="
                    {%- if block.settings.image != blank -%}--aspect-ratio: {{ block.settings.image.aspect_ratio }};{%- else -%}--aspect-ratio: 5/2; {%- endif -%} --overlay-opacity: {{ block.settings.image_overlay_opacity }}%; {%- if block.settings.mobile_image -%} --aspect-ratio-mb: {{ block.settings.mobile_image.aspect_ratio }};{%- endif -%}{%- if settings.animations_reveal_on_scroll -%}
                      --animation-order: {{ forloop.index }};
                    {%- endif -%}
                  "
                >
                  {%- if block.settings.image != blank -%}
                    {%- if block.settings.image.alt == blank -%}
                      {%- capture alt -%}{{ block.settings.heading }}{%- endcapture -%}
                    {%- else -%}
                      {%- assign alt = block.settings.image.alt -%}
                    {%- endif -%}
                    <div
                      class="banner__media media{% if block.settings.mobile_image != blank %} d-none d-md-block{% endif %}{% if block.settings.image == blank %} placeholder absolute inset-0{% endif %}"
                      style="--aspect-ratio: {{ block.settings.image.aspect_ratio }}"
                    >
                      {{
                        block.settings.image
                        | image_url: width: 3840
                        | image_tag:
                          loading: 'lazy',
                          width: block.settings.image.width,
                          data-sizes: 'auto',
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          alt: alt
                      }}
                    </div>
                  {%- else -%}
                    <div
                      class="banner__media media{% if block.settings.mobile_image != blank %} d-none d-md-block{% endif %}{% if block.settings.image == blank %} placeholder absolute inset-0{% endif %}"
                      style="--aspect-ratio: 3/2"
                    >
                      {%- render 'placeholder-render', type: 'lifestyle' -%}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.mobile_image -%}
                    {%- if block.settings.mobile_image.alt == blank -%}
                      {%- capture alt_mobile -%}{{ block.settings.heading }} mobile{%- endcapture -%}
                    {%- else -%}
                      {%- assign alt_mobile = block.settings.mobile_image.alt -%}
                    {%- endif -%}
                    <div
                      class="image_mobile banner__media overflow-hidden{% if block.settings.show_text_bellow == blank %} absolute! inset-0{% endif %}{% if block.settings.mobile_image == blank %} placeholder absolute! inset-0 inset-0{% endif %}{% if block.settings.mobile_image != blank %} d-block d-md-none{% endif %}"
                      style="--aspect-ratio-mb: {{ block.settings.mobile_image.aspect_ratio }};"
                    >
                      {{
                        block.settings.mobile_image
                        | image_url: width: 3840
                        | image_tag:
                          loading: 'lazy',
                          data-sizes: 'auto',
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          alt: alt_mobile
                      }}
                    </div>
                  {%- endif -%}
                  <div class="overlay-bg bls__content w-full d-flex text-{{ block.settings.text_alignment }} align-{{ block.settings.desktop_content_position }}{% if block.settings.show_text_bellow and section.settings.section_width == 'expand_full_width' %} px-15{% endif %}{% if block.settings.desktop_content_position == 'end' and block.settings.image_overlay_opacity == 0 %} grandient-bg{% endif %}">
                    <div
                      class="banner__box w-full mb-md-10{% if section.settings.section_width == 'fix_width' %} px-30 py-30{% else %} px-60 py-60{% endif %} size-{{ block.settings.content_size }}{% if block.settings.show_text_bellow %} text-bellow-mb{% endif %}"
                    >
                      {%- if block.settings.subheading != blank -%}
                        <p
                          class="sub-heading image-with-text__text mt-0"
                        >
                          {{ block.settings.subheading | escape }}
                        </p>
                      {%- endif -%}
                      {%- if block.settings.heading != blank -%}
                        <h2
                          class="section-heading heading-letter-spacing banner__heading mt-0"
                        >
                          <span>{{ block.settings.heading | escape }}</span>
                        </h2>
                      {%- endif -%}
                      {%- if block.settings.description != blank -%}
                        <div
                          class="sec-des banner__text"
                        >
                          {{ block.settings.description }}
                        </div>
                      {%- endif -%}
                      {% if block.settings.first_button_label != blank or block.settings.second_button_label != blank %}
                        <div class="section-btn d-flex flex-wrap gap-10 justify-content-{{ block.settings.text_alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                          {% if block.settings.first_button_label != blank %}
                            <a
                              {% if block.settings.first_button_link == blank %}
                                role="link" aria-disabled="true"
                              {% else %}
                                href="{{ block.settings.first_button_link | default: "#" }}"
                              {% endif %}
                              aria-label="{{ block.settings.first_button_label }}"
                              class="btn remove-underline{% if block.settings.first_button_style %} btn-outline{% else %} btn-primary{% endif %}"
                            >
                              {{ block.settings.first_button_label }}
                            </a>
                          {% endif %}
                          {% if block.settings.second_button_label != blank %}
                            <a
                              {% if block.settings.second_button_link == blank %}
                                role="link" aria-disabled="true"
                              {% else %}
                                href="{{ block.settings.second_button_link | default: "#" }}"
                              {% endif %}
                              aria-label="{{ block.settings.second_button_label }}"
                              class="btn remove-underline {% if block.settings.second_button_style %} btn-outline{% else %} btn-primary{% endif %}"
                            >
                              {{ block.settings.second_button_label }}
                            </a>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {%- when 'image' -%}
                <div
                  class="align-self-{{ block.settings.vertical }} block-image overflow-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {%- if settings.animations_reveal_on_scroll -%}
                    style="--animation-order: {{ forloop.index }};"
                  {%- endif -%}
                >
                  <a
                    class="banner__media d-block{% if block.settings.image == blank %} placeholder{% endif %}"
                    {% if block.settings.image_link != blank %}
                      href="{{ block.settings.image_link }}"
                    {% else %}
                      role="link"
                    {% endif %}
                    style=" --aspect-ratio: {{ block.settings.image.aspect_ratio }}{%- if block.settings.image == blank -%} 16/9 {%- endif -%}"
                  >
                    {%- if block.settings.image != blank -%}
                      {{
                        block.settings.image
                        | image_url: width: 3840
                        | image_tag:
                          loading: 'lazy',
                          width: block.settings.image.width,
                          data-sizes: 'auto',
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          alt: block.settings.image.alt
                      }}
                    {%- else -%}
                      {%- render 'placeholder-render', type: 'lifestyle' -%}
                    {%- endif -%}
                  </a>
                </div>
              {%- when 'text' -%}
                <div
                  class="color-{{ block.settings.color_scheme }} gradient d-flex w-full align-self-{{ block.settings.vertical }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if section.settings.section_width == 'expand_full_width' %} px-20{% endif %}"
                  {%- if settings.animations_reveal_on_scroll -%}
                    style="--animation-order: {{ forloop.index }};"
                  {%- endif -%}
                >
                  <div
                    class="w-full size-{{ block.settings.content_size }} text-{{ block.settings.text_alignment }} image-with-text__text-item py-30{% if sec_settings.section_width == 'fix_width' %} px-30{% endif %}"
                  >
                    <h2
                      class="section-heading heading-letter-spacing banner__heading mt-0"
                    >
                      <span>{{ block.settings.heading | escape }}</span>
                    </h2>
                    <div
                      class="sec-des banner__text"
                    >
                      {{ block.settings.description }}
                    </div>
                    {%- if block.settings.button_label != blank -%}
                      <a
                        {% if block.settings.button_link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.button_link }}"
                        {% endif %}
                        aria-label="{{- block.settings.button_label | escape -}}"
                        class="section-btn btn btn-{{ block.settings.button_style }}"
                      >
                        {{- block.settings.button_label | escape -}}
                      </a>
                    {%- endif -%}
                  </div>
                </div>
              {%- when 'video' -%}
                {% assign poster = block.settings.cover_image %}
                {% assign video_id = block.settings.video.id | default: block.settings.video_url.id %}
                <noscript>
                  {%- if block.settings.video_local == null and block.settings.video_url != null -%}
                    <a
                      href="{{ block.settings.video_url }}"
                      class="remove-underline"
                    >
                      {%- if poster != null -%}
                        {{
                          poster
                          | image_url: width: 3840
                          | image_tag:
                            loading: 'lazy',
                            sizes: '100vw',
                            widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                        }}
                      {%- else -%}
                        {%- render 'placeholder-render', type: 'lifestyle' -%}
                      {%- endif -%}
                    </a>
                  {%- else -%}
                    {{
                      block.settings.video_local
                      | video_tag: image_size: '1100x', autoplay: true, controls: true, muted: false
                    }}
                  {%- endif -%}
                </noscript>
                <video-section
                  class="js-disabled d-block video-section relative align-self-{{ block.settings.vertical }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {%- if settings.animations_reveal_on_scroll -%}
                    style="--animation-order: {{ forloop.index }};"
                  {%- endif -%}
                >
                  {%- if block.settings.video_local == null -%}
                    <div class="video-thumbnail absolute inset-0 banner__media rounded-corner-item">
                      {%- if poster != null -%}
                        {{
                          poster
                          | image_url: width: 3840
                          | image_tag:
                            loading: 'lazy',
                            data-sizes: 'auto',
                            sizes: '100vw',
                            widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                        }}
                      {%- else -%}
                        {%- render 'placeholder-render', type: 'lifestyle' -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                  <div
                    class="video-has-bg video-section rounded-corner-item relative z-3"
                    style="--aspect-ratio: {{ block.settings.aspect_ratio }}"
                  >
                    {%- if block.settings.video_local == null and block.settings.video_url != null -%}
                      {%- if block.settings.video_url.type == 'youtube' -%}
                        <iframe
                          src="https://www.youtube.com/embed/{{ video_id }}?autoplay={% if block.settings.autoplay -%}1{% else %}0{%- endif -%}&mute={% if block.settings.autoplay -%}1{% else %}0{%- endif -%}&playsinline=1"
                          class="js-youtube"
                          allow="autoplay; encrypted-media"
                          allowfullscreen
                        ></iframe>
                      {%- else -%}
                        <iframe
                          src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if block.settings.autoplay -%}1{% else %}0{%- endif -%}&muted={% if block.settings.autoplay -%}1{% else %}0{%- endif -%}&playsinline=1"
                          class="js-vimeo"
                          allow="autoplay; encrypted-media"
                          allowfullscreen
                        ></iframe>
                      {%- endif -%}
                    {%- else -%}
                      {% liquid
                        assign autoplay = false
                        assign muted = false
                        if block.settings.autoplay
                          assign autoplay = true
                          assign muted = true
                        endif
                      %}
                      {{
                        block.settings.video_local
                        | video_tag: image_size: '1100x', autoplay: autoplay, controls: true, muted: muted
                      }}
                    {%- endif -%}
                  </div>
                </video-section>
              {%- when 'image_with_text_bellow' -%}
                <div
                  class="image-with-text-bellow color-{{ block.settings.color_scheme }} gradient section-inner{% if block.settings.content_width == "20%" or block.settings.content_width == "25%" or block.settings.content_width == "33.3333%" %} col-has-small-size{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  style="{%- if settings.animations_reveal_on_scroll -%}  --animation-order: {{ forloop.index }};{%- endif -%}"
                >
                  {%- if block.settings.image != blank -%}
                    {%- if block.settings.image.alt == blank -%}
                      {%- capture alt -%}{{ block.settings.heading }}{%- endcapture -%}
                    {%- else -%}
                      {%- assign alt = block.settings.image.alt -%}
                    {%- endif -%}
                    <div
                      class="banner__media media{% if block.settings.mobile_image != blank %} d-none d-md-block{% endif %}{% if block.settings.image == blank %} placeholder{% endif %}"
                      style="--aspect-ratio: {{ block.settings.image.aspect_ratio }}"
                    >
                      {{
                        block.settings.image
                        | image_url: width: 3840
                        | image_tag:
                          loading: 'lazy',
                          width: block.settings.image.width,
                          data-sizes: 'auto',
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          alt: alt
                      }}
                    </div>
                  {%- else -%}
                    <div
                      class="banner__media media{% if block.settings.mobile_image != blank %} d-none d-md-block{% endif %}{% if block.settings.image == blank %} placeholder{% endif %}"
                      style="--aspect-ratio: 3/2"
                    >
                      {%- render 'placeholder-render', type: 'lifestyle' -%}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.mobile_image -%}
                    {%- if block.settings.mobile_image.alt == blank -%}
                      {%- capture alt_mobile -%}{{ block.settings.heading }} mobile{%- endcapture -%}
                    {%- else -%}
                      {%- assign alt_mobile = block.settings.mobile_image.alt -%}
                    {%- endif -%}
                    <div
                      class="image_mobile banner__media overflow-hidden{% if block.settings.show_text_bellow == blank %} absolute! inset-0{% endif %}{% if block.settings.mobile_image == blank %} placeholder absolute! inset-0 inset-0{% endif %}{% if block.settings.mobile_image != blank %} d-block d-md-none{% endif %}"
                      style="--aspect-ratio-mb: {{ block.settings.mobile_image.aspect_ratio }};"
                    >
                      {{
                        block.settings.mobile_image
                        | image_url: width: 3840
                        | image_tag:
                          loading: 'lazy',
                          data-sizes: 'auto',
                          sizes: '100vw',
                          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                          alt: alt_mobile
                      }}
                    </div>
                  {%- endif -%}
                  <div class="bls__content w-full d-flex text-{{ block.settings.text_alignment }}">
                    <div
                      class="banner__box w-full mb-md-10 mt-35 size-{{ block.settings.content_size }}"
                    >
                      {%- if block.settings.subheading != blank -%}
                        <p
                          class="sub-heading image-with-text__text mt-0"
                        >
                          {{ block.settings.subheading | escape }}
                        </p>
                      {%- endif -%}
                      {%- if block.settings.heading != blank -%}
                        <h2
                          class="section-heading heading-letter-spacing banner__heading mt-0"
                        >
                          <span>{{ block.settings.heading | escape }}</span>
                        </h2>
                      {%- endif -%}
                      {%- if block.settings.description != blank -%}
                        <div
                          class="sec-des banner__text"
                        >
                          {{ block.settings.description }}
                        </div>
                      {%- endif -%}
                      {%- if block.settings.button_label != blank -%}
                        <a
                          {% if block.settings.button_link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.button_link }}"
                          {% endif %}
                          aria-label="{{- block.settings.button_label | escape -}}"
                          class="section-btn btn btn-{{ block.settings.button_style }}"
                        >
                          {{- block.settings.button_label | escape -}}
                        </a>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
{% schema %}
{
  "name": "Promotion banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "stretch_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "small",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "image_with_text_overlay",
      "name": "Image with text overlay",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.promotion-grid.blocks.all.settings.image_upload"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.slideshow.blocks.slide.settings.mobile_image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "color-scheme-1"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.main-collection-banner.settings.image_overlay_opacity.label",
          "default": 40
        },
        {
          "type": "header",
          "content": "t:sections.all.mobile_layout.header"
        },
        {
          "type": "checkbox",
          "id": "show_text_bellow",
          "label": "t:sections.all.mobile_layout.text_bellow_image"
        },
        {
          "type": "checkbox",
          "id": "reset_color",
          "label": "t:sections.all.mobile_layout.reset_color"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Subheading",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.promotion-grid.blocks.all.settings.heading",
          "default": "Promotion banner"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.promotion-grid.blocks.all.settings.description"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "default": "Button label",
          "label": "t:sections.all.content_setting.first_button_label.label",
          "info": "t:sections.all.content_setting.button_label.info"
        },
        {
          "type": "url",
          "id": "first_button_link",
          "label": "t:sections.all.content_setting.first_button_label.link"
        },
        {
          "type": "checkbox",
          "id": "first_button_style",
          "label": "t:sections.all.button_style.use_outline_button_style"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:sections.all.content_setting.second_button_label.label",
          "info": "t:sections.all.content_setting.button_label.info"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:sections.all.content_setting.second_button_label.link"
        },
        {
          "type": "checkbox",
          "id": "second_button_style",
          "label": "t:sections.all.button_style.use_outline_button_style"
        },
        {
          "type": "header",
          "content": "t:sections.all.content_setting.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "start",
              "label": "t:sections.image-with-text.settings.desktop_content_position.top"
            },
            {
              "value": "center",
              "label": "t:sections.image-with-text.settings.desktop_content_position.middle"
            },
            {
              "value": "end",
              "label": "t:sections.image-with-text.settings.desktop_content_position.bottom"
            }
          ],
          "default": "end",
          "label": "t:sections.image-with-text.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.all.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.all.text_alignment.option_3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.all.text_alignment.label"
        },
        {
          "type": "select",
          "id": "content_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.size.small.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.size.medium.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.size.large.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.all.size.label"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.block_setting"
        },
        {
          "type": "select",
          "id": "vertical",
          "label": "t:sections.promotion-grid.blocks.all.settings.vertical.name",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_2"
            },
            {
              "value": "end",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_3"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33.3333%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66.6666%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "image_with_text_bellow",
      "name": "Image with text bellow",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.promotion-grid.blocks.all.settings.image_upload"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:sections.slideshow.blocks.slide.settings.mobile_image.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "default-color-scheme"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.main-collection-banner.settings.image_overlay_opacity.label",
          "default": 30
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.content"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Subheading",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.promotion-grid.blocks.all.settings.heading",
          "default": "Promotion banner"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.promotion-grid.blocks.all.settings.description",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.promotion-grid.blocks.all.settings.button_label",
          "info": "t:sections.promotion-grid.blocks.all.settings.button_info",
          "default": "Button label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "fill",
              "label": "t:sections.all.button_style.fill"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button_style.outline"
            }
          ],
          "default": "fill",
          "label": "t:sections.all.button_style.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.promotion-grid.blocks.all.settings.button_link"
        },
        {
          "type": "header",
          "content": "t:sections.all.content_setting.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.all.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.all.text_alignment.option_3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.all.text_alignment.label"
        },
        {
          "type": "select",
          "id": "content_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.size.small.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.size.medium.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.size.large.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.all.size.label"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.block_setting"
        },
        {
          "type": "select",
          "id": "vertical",
          "label": "t:sections.promotion-grid.blocks.all.settings.vertical.name",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_2"
            },
            {
              "value": "end",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_3"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33.3333%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66.6666%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.promotion-grid.blocks.all.settings.image_upload"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "t:sections.promotion-grid.blocks.all.settings.image_link"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.block_setting"
        },
        {
          "type": "select",
          "id": "vertical",
          "label": "t:sections.promotion-grid.blocks.all.settings.vertical.name",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_2"
            },
            {
              "value": "end",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_3"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33.333%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66.666%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.promotion-grid.blocks.all.settings.heading",
          "default": "Promotion banner"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.promotion-grid.blocks.all.settings.description",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.promotion-grid.blocks.all.settings.button_label",
          "info": "t:sections.promotion-grid.blocks.all.settings.button_info",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.promotion-grid.blocks.all.settings.button_link"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "fill",
              "label": "t:sections.all.button_style.fill"
            },
            {
              "value": "outline",
              "label": "t:sections.all.button_style.outline"
            }
          ],
          "default": "fill",
          "label": "t:sections.all.button_style.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "default-color-scheme"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.content_setting"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.all.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.all.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.all.text_alignment.option_3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.all.text_alignment.label"
        },
        {
          "type": "select",
          "id": "content_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.size.small.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.size.medium.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.size.large.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.all.size.label"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.block_setting"
        },
        {
          "type": "select",
          "id": "vertical",
          "label": "t:sections.promotion-grid.blocks.all.settings.vertical.name",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_2"
            },
            {
              "value": "end",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_3"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33.333%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66.666%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "limit": 3,
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_link.label",
          "info": "t:sections.video.settings.video_link.info"
        },
        {
          "type": "video",
          "id": "video_local",
          "label": "t:sections.video.settings.video_local.label",
          "info": "t:sections.video.settings.video_local.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "t:sections.video.settings.autoplay.label",
          "info": "t:sections.video.settings.autoplay.info",
          "default": false
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "options": [
            {
              "value": "16/9",
              "label": "t:sections.video.settings.aspect_ratio.option__1"
            },
            {
              "value": "21/9",
              "label": "t:sections.video.settings.aspect_ratio.option__2"
            }
          ],
          "default": "16/9",
          "label": "t:sections.video.settings.aspect_ratio.label"
        },
        {
          "type": "header",
          "content": "t:sections.promotion-grid.blocks.all.header.block_setting"
        },
        {
          "type": "select",
          "id": "vertical",
          "label": "t:sections.promotion-grid.blocks.all.settings.vertical.name",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_1"
            },
            {
              "value": "center",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_2"
            },
            {
              "value": "end",
              "label": "t:sections.promotion-grid.blocks.all.settings.vertical.option_3"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_width",
          "label": "Width",
          "default": "50%",
          "options": [
            {
              "value": "16.666%",
              "label": "16%"
            },
            {
              "value": "20%",
              "label": "20%"
            },
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33.333%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66.666%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "80%",
              "label": "80%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Promotion banner",
      "blocks": [
        {
          "type": "image_with_text_overlay",
          "settings": {
            "heading": "Promotion banner",
            "description": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "first_button_label": "Button label"
          }
        },
        {
          "type": "image_with_text_overlay",
          "settings": {
            "description": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "first_button_label": "Button label"
          }
        }
      ]
    }
  ]
}
{% endschema %}
