{%- liquid
  assign section_st = section.settings
  assign theme_st = settings
  assign section_width = ''
  if section_st.section_width == 'fix_width'
    assign section_width = ' container'
  elsif section_st.section_width == 'expand_full_width'
    assign section_width = ' full-width'
  else
    assign section_width = ' full-width-gap'
  endif

  assign tb_top_spacing = ''
  if section_st.padding_top > settings.vertical_space_tablet
    assign tb_top_spacing = ' top-tb'
  endif
  assign tb_bottom_spacing = ''
  if section_st.padding_bottom > settings.vertical_space_tablet
    assign tb_bottom_spacing = ' bottom-tb'
  endif

  assign mb_top_spacing = ''
  if section_st.padding_top > settings.vertical_space_mobile
    assign mb_top_spacing = ' top-mb'
  endif
  assign mb_bottom_spacing = ''
  if section_st.padding_bottom > settings.vertical_space_mobile
    assign mb_bottom_spacing = ' bottom-mb'
  endif

  assign img_size = ''
  if section_st.scrolling_size == '30'
    assign img_size = '40'
  elsif section_st.scrolling_size == '70'
    assign img_size = '80'
  else
    assign img_size = '100'
  endif
  assign show_banner = false
  assign enable_radius_bottom = section_st.enable_radius_bottom
  assign enable_radius_top = section_st.enable_radius_top
  assign count_image = 0
  for i in (1..3)
    assign image_id = 'image_' | append: i
    if section_st[image_id] != blank
      assign count_image = count_image | plus: 1
    endif
  endfor
  if count_image > 0
    assign show_banner = true
  endif
-%}

{%- capture style -%}
--section-padding-top: {{ section_st.padding_top }}px; --section-padding-bottom: {{ section_st.padding_bottom }}px;
--marquee-speed: {{ section_st.marquee_speed }}s;
--gradient-color-start: {{ section_st.gradient_color_start }};
--gradient-color-end: {{ section_st.gradient_color_end }};
{%- endcapture -%}
{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
  calc(100vw - 10rem), 100vw
{%- endcapture -%}
<div
  class="{% if section_st.show_background_blur %}show-background-blur {% endif %}color-{{ section_st.color_scheme }} gradient bls__section scrolling-text relative section-padding{{ tb_top_spacing }}{{ tb_bottom_spacing }}{{ mb_top_spacing }}{{ mb_bottom_spacing }} {% if show_banner %}show-banner{% endif %}{% if section_st.show_divider %} line-t line-b{% endif %} {% if enable_radius_bottom %}radius-bottom{% endif %} {% if enable_radius_top %}radius-top{% endif %}"
  aria-label="{{ 'sections.scrolling_text.name' | t }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div class="marquee d-flex overflow-hidden w-full justify-content-center heading-color{% if section_st.use_heading_font %} heading-font{% endif %}">
      {%- for i in (0..5) -%}
        <div class="d-flex animation-marquee direction-{{ section_st.direction }} {% if section_st.scrolling_icon == 'border' %}icon-border{% endif %}">
          {%- for block in section.blocks -%}
            {%- if block.settings.text != blank -%}
              <a
                tabindex="-1"
                {% if block.settings.link == blank %}
                  role="link" aria-disabled="true" {{ block.shopify_attributes }}
                {% else %}
                  href="{{ block.settings.link }}"
                  target="_blank"
                {% endif %}
                class="scrolling__bar-link relative  lh-normal remove-underline d-flex items-center justify-content-center link link--text align-center nowrap size-{{ section_st.scrolling_size }}{% if section_st.use_heading_font == blank %} body-size{% endif %}{% if section_st.uppercase %} uppercase{% endif %}{% if section_st.style_between_item %} {% if section_st.scrolling_icon == 'circle' %}show-dot z--1{% endif %}{% endif %}{% if block.settings.accent_color %} accent-color{% endif %}{% if section_st.use_heading_font != blank and block.settings.accent_color == blank %} heading-color{% endif %} {% if section_st.use_gradient_color %}use-gradient-color{% endif %}"
              >
                {%- if block.settings.image != blank -%}
                  <div
                    class="bls__scrolling-img d-flex align-center"
                    style="--img-width: {{ img_size }}px"
                  >
                    {%- assign image_alt = block.settings.image.alt | escape -%}
                    {{
                      block.settings.image
                      | image_url: width: 3840
                      | image_tag:
                        loading: 'lazy',
                        sizes: '100vw',
                        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                        alt: image_alt
                    }}
                  </div>
                {%- endif -%}
                {% if block.settings.link != blank %}<span class="underline">{% endif %}
                {{ block.settings.text }}
                {% if block.settings.link != blank %}</span>{% endif %}
                {% if section_st.scrolling_icon == 'infinity' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none">
                    <path d="M10.125 10.625C5.7876 10.625 2.25 14.1626 2.25 18.5C2.25 22.8418 5.7832 26.375 10.125 26.375C13.4209 26.375 15.4336 24.5645 16.9805 22.332C16.519 21.5894 16.1323 20.8555 15.75 20.1523C14.3701 22.4331 12.8232 24.125 10.125 24.125C7.02246 24.125 4.5 21.6025 4.5 18.5C4.5 15.3799 7.00488 12.875 10.125 12.875C11.9443 12.875 13.1001 13.5254 14.168 14.6328C15.2358 15.7402 16.1367 17.3398 17.0508 19.0273C17.9648 20.7148 18.8921 22.4902 20.25 23.9141C21.6079 25.3379 23.48 26.375 25.875 26.375C30.2124 26.375 33.75 22.8374 33.75 18.5C33.75 14.1582 30.2168 10.625 25.875 10.625C22.5967 10.625 20.5708 12.3784 19.0195 14.5625C19.481 15.292 19.9028 16.0083 20.2852 16.707C21.6562 14.4922 23.1855 12.875 25.875 12.875C28.9775 12.875 31.5 15.3975 31.5 18.5C31.5 21.6201 28.9951 24.125 25.875 24.125C24.0864 24.125 22.9614 23.4746 21.9023 22.3672C20.8433 21.2598 19.938 19.6602 19.0195 17.9727C18.1011 16.2852 17.1562 14.5098 15.7852 13.0859C14.4141 11.6621 12.542 10.625 10.125 10.625Z" fill="black"/>
                  </svg>
                {% endif %}
                {% if section_st.scrolling_icon == 'leaf' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none">
                    <path d="M28.1602 5L27 5.52734C23.4229 7.10498 18.2549 7.69824 13.8516 9.25391C11.6499 10.0317 9.61084 11.0688 8.08594 12.7344C6.56103 14.3999 5.625 16.6938 5.625 19.625C5.625 22.6572 7.40918 24.7358 9.07031 25.918C9.77783 26.4233 10.4634 26.7881 11.0391 27.043C10.3447 28.3306 9.83057 29.4907 9.49219 30.4883C8.87695 32.2856 8.78027 33.6919 8.82422 34.707C8.86816 35.7222 9 36.4165 9 36.3945L11.25 36.6055C11.3203 35.7925 11.1094 35.3662 11.0742 34.6016C11.0391 33.8369 11.105 32.7866 11.6367 31.2266C12.7002 28.1108 15.6489 22.9824 23.3086 14.7734L21.6914 13.2266C17.0991 18.1484 14.1328 21.9849 12.1992 25.0742C11.707 24.8765 11.0479 24.5732 10.3711 24.0898C9.06592 23.1626 7.875 21.8047 7.875 19.625C7.875 17.1465 8.58252 15.5117 9.73828 14.2461C10.894 12.9805 12.5771 12.0752 14.5898 11.3633C18.2329 10.0757 22.7417 9.42529 26.6133 7.98828C26.9736 9.35498 28.125 14.0352 28.125 21.3477C28.125 25.4961 27.1538 27.8735 26.0156 29.1875C24.8774 30.5015 23.5063 30.875 22.2891 30.875C21.0762 30.875 19.7666 30.2554 18.6328 29.4688C17.499 28.6821 16.7168 27.8604 15.9258 27.3594L14.7305 29.2578C14.9326 29.3853 16.0532 30.4224 17.3672 31.332C18.6812 32.2417 20.3467 33.125 22.2891 33.125C24.0205 33.125 26.1387 32.5142 27.7383 30.6641C29.3379 28.814 30.375 25.8433 30.375 21.3477C30.375 12.5498 28.5117 6.23047 28.5117 6.23047L28.1602 5Z" fill="black"/>
                  </svg>
                {% endif %}
                {% if section_st.scrolling_icon == 'flower' %}
                  {% render 'icon-flower' %}
                {% endif %}
              </a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
    {% if count_image > 0 %}
      <div class="text-center highlight-image">
        {%- if section_st.heading != blank -%}
          <h2 class="bls_section-heading heading-letter-spacing text-color text-[3.2rem]! lg:text-5xl! lg:mb-60! mb-40!">
            {{ section_st.heading }}
          </h2>
        {%- endif -%}
        <div class="relative inline-block text-center transition-all duration-300 scale-80 sm:scale-100 group px-20 mx-auto highlight-image__wrapper mb-35 z-2 lg:max-w-780 sm:max-w-300 max-w-200 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {% assign image_index = 0 %}
          {% for i in (1..3) %}
            {% liquid
              assign image_id = 'image_' | append: i
              assign image = section_st[image_id]
              assign image_alt = section_st.image.alt | escape
              if image != blank
                assign image_index = image_index | plus: 1
              endif
              assign class_image = 'image-' | append: image_index
            %}
            {% if image != blank %}
              <div class="text-center peer transition-all duration-300 peer-hover:opacity-80 peer-hover:translate-y-5 highlight-image__item {{ class_image }}" style="--image-index: {{ image_index }};">

                {{
                  image
                  | image_url: width: image.width
                  | image_tag:
                    class: 'rounded-xl inline-block transition-transform duration-300',
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                    alt: image_alt
                }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        {%- if section_st.description != blank -%}
          <div class="px-20 text-base short-des opacity-70 line-clamp-4">{{ section_st.description }}</div>
        {%- endif -%}
      </div>
    {% endif %}
    {% if section_st.show_social %}
      <social-icon-scrolling class="block w-full max-w-5xl px-20 mx-auto text-center scrolling-social mt-35">
        {% render 'social-icons' | tooltip: false %}
      </social-icon-scrolling>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.scrolling-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "expand_full_width",
          "label": "t:sections.all.layout.expand_full_width"
        }
      ],
      "default": "expand_full_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "default-color-scheme"
    },
    {
      "type": "checkbox",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label",
      "id": "show_social"
    },
    {
      "type": "checkbox",
      "id": "show_background_blur",
      "label": "t:sections.featured-collection.block.settings.show_background_blur.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.scrolling-text.header"
    },
    {
      "type": "select",
      "id": "direction",
      "options": [
        {
          "value": "left",
          "label": "t:sections.announcement-bar.settings.scrolling-text.left"
        },
        {
          "value": "right",
          "label": "t:sections.announcement-bar.settings.scrolling-text.right"
        }
      ],
      "default": "left",
      "label": "t:sections.announcement-bar.settings.scrolling-text.direction"
    },
    {
      "type": "select",
      "id": "scrolling_icon",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.all.icon.circle.label"
        },
        {
          "value": "infinity",
          "label": "t:sections.all.icon.infinity.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.all.icon.leaf.label"
        },
        {
          "value": "flower",
          "label": "t:sections.all.icon.flower.label"
        },
        {
          "value": "border",
          "label": "t:sections.all.icon.border.label"
        }
      ],
      "default": "circle",
      "label": "t:sections.icon-with-text.settings.icon.icon_svg"
    },

    {
      "type": "range",
      "id": "marquee_speed",
      "default": 20,
      "label": "t:sections.announcement-bar.settings.marquee_speed.label",
      "min": 5,
      "max": 50,
      "step": 1,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "style_between_item",
      "default": true,
      "label": "t:sections.icon-with-text.settings.icon.style_between_item_icon"
    },
    {
      "type": "checkbox",
      "id": "use_gradient_color",
      "default": false,
      "label": "t:sections.icon-with-text.settings.use_gradient_color.label"
    },
    {
      "type": "color",
      "id": "gradient_color_start",
      "label": "t:sections.icon-with-text.settings.use_gradient_color.gradient_color_start",
      "default": "#288066 "
    },
    {
      "type": "color",
      "id": "gradient_color_end",
      "label": "t:sections.icon-with-text.settings.use_gradient_color.gradient_color_end",
      "default": "#f4ebe0"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.label"
    },
    {
      "type": "select",
      "id": "scrolling_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.size.small.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.size.medium.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.size.large.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "large",
      "label": "t:sections.all.content_setting.text.text-size"
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "default": true,
      "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
    },
    {
      "type": "checkbox",
      "id": "use_heading_font",
      "default": true,
      "label": "t:settings_schema.typography.settings.heading.use_heading_font"
    },
    {
      "type": "header",
      "content": "t:sections.scrolling-text.settings.image_highlight"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.scrolling-text.settings.image.image_1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.scrolling-text.settings.image.image_2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "t:sections.scrolling-text.settings.image.image_3"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.all.section_divider.name"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.section_divider.label",
      "default": false
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "scrolling-text",
      "name": "t:sections.all.content_setting.text.label",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Scrolling text",
          "label": "t:sections.all.content_setting.content"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.colors.label"
        },
        {
          "type": "checkbox",
          "id": "accent_color",
          "label": "t:sections.scrolling-text.settings.accent_color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.scrolling-text.name",
      "blocks": [
        {
          "type": "scrolling-text"
        },
        {
          "type": "scrolling-text"
        }
      ]
    }
  ]
}
{% endschema %}
