{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros | strip_html -%}

    <title>{{ 'gift_cards.issued.title' | t: value: formatted_balance, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
              img{
                max-width: 100%;
              }
            {{ settings.body_font | font_face: font_display: 'swap' }}
            {{ body_font_bold | font_face: font_display: 'swap' }}
            {{ body_font_italic | font_face: font_display: 'swap' }}
            {{ body_font_bold_italic | font_face: font_display: 'swap' }}
            {{ settings.heading_font | font_face: font_display: 'swap' }}
            {% for scheme in settings.color_schemes -%}
              {% assign scheme_classes = scheme_classes | append: ', .color-' | append: scheme.id %}
              {% if forloop.index == 1 -%}
                :root,
              {%- endif %}
              .color-{{ scheme.id }}:not(.reset-color-on-mb) {
                --color-background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
                --color-background-hsl: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
              {% if scheme.settings.background_gradient != empty %}
                --gradient-background: {{ scheme.settings.background_gradient }};
              {% else %}
                --gradient-background: {{ scheme.settings.background }};
              {% endif %}
              --color-foreground: {{ scheme.settings.color_general_text.red }}, {{ scheme.settings.color_general_text.green }}, {{ scheme.settings.color_general_text.blue }};
              --accent-color: rgb({{ scheme.settings.color_general_accent.red }}, {{ scheme.settings.color_general_accent.green }}, {{ scheme.settings.color_general_accent.blue }});
              --text-color: {{ scheme.settings.color_general_text.red }}, {{ scheme.settings.color_general_text.green }}, {{ scheme.settings.color_general_text.blue }};
              --heading-color: rgb({{ scheme.settings.color_general_heading.red }}, {{ scheme.settings.color_general_heading.green }}, {{ scheme.settings.color_general_heading.blue }});
              --heading-color-hsl: {{ scheme.settings.color_general_heading.red }}, {{ scheme.settings.color_general_heading.green }}, {{ scheme.settings.color_general_heading.blue }};

              --link-color: rgb({{ scheme.settings.color_general_text.red }}, {{ scheme.settings.color_general_text.green }}, {{ scheme.settings.color_general_text.blue }});
              --link-hover-color: rgb({{ scheme.settings.color_general_heading.red }}, {{ scheme.settings.color_general_heading.green }}, {{ scheme.settings.color_general_heading.blue }});

              --border-color: rgb({{ scheme.settings.color_general_border.red }}, {{ scheme.settings.color_general_border.green }}, {{ scheme.settings.color_general_border.blue }});


              --btn-fill-bg-color: rgb({{ scheme.settings.color_button_background.red }}, {{ scheme.settings.color_button_background.green }}, {{ scheme.settings.color_button_background.blue }});
              --btn-fill-bg-color-hsl: {{ scheme.settings.color_button_background.red }}, {{ scheme.settings.color_button_background.green }}, {{ scheme.settings.color_button_background.blue }};
              --btn-fill-color: rgb({{ scheme.settings.color_button_text.red }}, {{ scheme.settings.color_button_text.green }}, {{ scheme.settings.color_button_text.blue }});
              --btn-fill-hover-bg-color: rgb({{ scheme.settings.color_button_background_hover.red }}, {{ scheme.settings.color_button_background_hover.green }}, {{ scheme.settings.color_button_background_hover.blue }});
              --btn-fill-hover-color: rgb({{ scheme.settings.color_button_text_hover.red }}, {{ scheme.settings.color_button_text_hover.green }}, {{ scheme.settings.color_button_text_hover.blue }});
              --btn-fill-hover-border-color:{{ scheme.settings.fill_button_border_hover }};

              --btn-outline-color: rgb({{ scheme.settings.color_button_outline.red }}, {{ scheme.settings.color_button_outline.green }}, {{ scheme.settings.color_button_outline.blue }});
              --btn-outline-border-color: rgb({{ scheme.settings.color_button_outline_border.red }}, {{ scheme.settings.color_button_outline_border.green }}, {{ scheme.settings.color_button_outline_border.blue }});

              --badges-color: rgb({{ scheme.settings.color_button_text.red }}, {{ scheme.settings.color_button_text.green }}, {{ scheme.settings.color_button_text.blue }});

              --grey-color: rgba(var(--text-color), 0.7);
              --input-border-color: var(--border-color);
              --input-color: rgb(var(--text-color));
              --input-placeholder-color: rgb(var(--text-color));
            }
            @media (min-width: 768px) {
              .color-{{ scheme.id }}.reset-color-on-mb{
                --color-background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
                --color-background-hsl: {{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }};
              {% if scheme.settings.background_gradient != empty %}
                --gradient-background: {{ scheme.settings.background_gradient }};
              {% else %}
                --gradient-background: {{ scheme.settings.background }};
              {% endif %}
              --color-foreground: {{ scheme.settings.color_general_text.red }}, {{ scheme.settings.color_general_text.green }}, {{ scheme.settings.color_general_text.blue }};
              --accent-color: rgb({{ scheme.settings.color_general_accent.red }}, {{ scheme.settings.color_general_accent.green }}, {{ scheme.settings.color_general_accent.blue }});
              --text-color: {{ scheme.settings.color_general_text.red }}, {{ scheme.settings.color_general_text.green }}, {{ scheme.settings.color_general_text.blue }};
              --heading-color: rgb({{ scheme.settings.color_general_heading.red }}, {{ scheme.settings.color_general_heading.green }}, {{ scheme.settings.color_general_heading.blue }});
      --heading-color-hsl: {{ scheme.settings.color_general_heading.red }}, {{ scheme.settings.color_general_heading.green }}, {{ scheme.settings.color_general_heading.blue }};

              --link-color: rgb({{ scheme.settings.color_general_text.red }}, {{ scheme.settings.color_general_text.green }}, {{ scheme.settings.color_general_text.blue }});
              --link-hover-color: rgb({{ scheme.settings.color_general_heading.red }}, {{ scheme.settings.color_general_heading.green }}, {{ scheme.settings.color_general_heading.blue }});

              --border-color: rgb({{ scheme.settings.color_general_border.red }}, {{ scheme.settings.color_general_border.green }}, {{ scheme.settings.color_general_border.blue }});

              --btn-fill-bg-color: rgb({{ scheme.settings.color_button_background.red }}, {{ scheme.settings.color_button_background.green }}, {{ scheme.settings.color_button_background.blue }});
              --btn-fill-bg-color-hsl: {{ scheme.settings.color_button_background.red }}, {{ scheme.settings.color_button_background.green }}, {{ scheme.settings.color_button_background.blue }};
              --btn-fill-color: rgb({{ scheme.settings.color_button_text.red }}, {{ scheme.settings.color_button_text.green }}, {{ scheme.settings.color_button_text.blue }});
              --btn-fill-hover-bg-color: rgb({{ scheme.settings.color_button_background_hover.red }}, {{ scheme.settings.color_button_background_hover.green }}, {{ scheme.settings.color_button_background_hover.blue }});
              --btn-fill-hover-color: rgb({{ scheme.settings.color_button_text_hover.red }}, {{ scheme.settings.color_button_text_hover.green }}, {{ scheme.settings.color_button_text_hover.blue }});
              --btn-fill-hover-border-color:{{ scheme.settings.fill_button_border_hover }};

              --btn-outline-color: rgb({{ scheme.settings.color_button_outline.red }}, {{ scheme.settings.color_button_outline.green }}, {{ scheme.settings.color_button_outline.blue }});
              --btn-outline-border-color: rgb({{ scheme.settings.color_button_outline_border.red }}, {{ scheme.settings.color_button_outline_border.green }}, {{ scheme.settings.color_button_outline_border.blue }});

              --badges-color: rgb({{ scheme.settings.color_button_text.red }}, {{ scheme.settings.color_button_text.green }}, {{ scheme.settings.color_button_text.blue }});

              --grey-color: rgba(var(--text-color), 0.7);
              --input-border-color: var(--border-color);
              --input-color: rgb(var(--text-color));
              --input-placeholder-color: rgb(var(--text-color));
              }
            }
            {% endfor %}

            {{ scheme_classes | prepend: 'body' }} {
              color: rgb(var(--text-color));
              background-color: var(--color-background);
            }
            :root {
              --body-font-size: var(--body-font-size);
              --body-font-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
              --body-font-style: {{ settings.body_font.style }};
              --body-font-weight: {{ settings.body_font.weight }};
              --body-font-weight-bold: {{ settings.body_font.weight | plus: 300 | at_most: 1000 }};
              --body-line-height: calc(1 + 0.71428 / var(--body-font-scale));
              --rounded-radius-style: {% if settings.rounded_corner_style == 'rounded_corner_large' %}2rem{% else %}8px{% endif %};

              --heading-font-family: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
              --heading-font-style: {{ settings.heading_font.style }};
              --heading-font-weight: {{ settings.heading_font.weight }};
              --heading-text-transform: {{ settings.heading_text_transform }};

              --menu-font: {% if settings.menu_font == 'body_font' %}{{ settings.body_font.family }}{% else %}{{ settings.heading_font.family }}{% endif %}, {{ settings.body_font.fallback_families }};
              --medium-font-weight: {% if settings.heading_font.weight > '400' %}500{% else %}{{ settings.heading_font.weight }}{% endif %};
              --menu-font-weight:{% if settings.button_font == 'body_font' %}var(--body-font-weight){% else %}var(--heading-font-weight){% endif %};

              --body-font-scale: {{ settings.body_font_size_scale | divided_by: 100.0 }};
              --heading-font-scale: {{ settings.heading_font_size_scale | divided_by: 100.0 }};

              --btn-font: {% if settings.button_font == 'body_font' %}{{ settings.body_font.family }}{% else %}{{ settings.heading_font.family }}{% endif %}, {{ settings.body_font.fallback_families }};
              --btn-text-transform: {{ settings.button_text_transform }};
              --btn-border-radius: {% if settings.rounded_corner %}{% if settings.rounded_corner_style == 'rounded_corner_large' %}10px{% else %}8px{% endif %}{% endif %};
              --btn-font-weight:{% if settings.button_font == 'body_font' %}var(--body-font-weight){% else %}var(--heading-font-weight){% endif %};

              --btn-font-size: var(--body-font-size, 1.4rem);
              --btn-padding-y: 1.1rem;
              --btn-padding-x: 3.3rem;
              --input-height: 4.5rem;
              --rate-color: rgb({{ settings.color_product_rate.red }}, {{ settings.color_product_rate.green }}, {{ settings.color_product_rate.blue }});
              --page-width: {{ settings.page_width | divided_by: 10 }}rem;
              --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

              --bs-gutter-x: 4rem;
              --bs-gutter-y: 0;

              --color-white: #FFFFFF;

              --h0-size: calc(var(--heading-font-scale) * 5.4rem);
              --h1-size: calc(var(--heading-font-scale) * 4rem);
              --h2-size: calc(var(--heading-font-scale) * 3rem);
              --h3-size: calc(var(--heading-font-scale) * 2.4rem);
              --h4-size:  calc(var(--heading-font-scale) * 2rem);
              --h5-size: calc(var(--heading-font-scale) * 1.8rem);
              --h6-size: calc(var(--heading-font-scale) * 1.6rem);

              --bls-transition: all 0.4s;
              --duration-short: 0.2s;
              --transition-popup: all 0.4s;

              --responsive-ratio: 0.7;
              --overlay-bg: rgba(0, 0, 0, .3);

              --input-padding: 0 1.5rem;
              --inputs-border-width: 1px;
              --input-border-color: var(--border-color);
              --input-bg: transparent;
              --input-color: rgb(var(--text-color));
              --input-border-radius: var(--btn-border-radius);
              --input-font-size: var(--body-font-size);
              --duration-short: 100ms;
              --duration-default: 200ms;
              --duration-long: 500ms;
              --duration-extra-long: 600ms;
              --duration-extended: 3s;
              --animation-slide-in-up: slideInUp var(--duration-extra-long) ease forwards;
              --input-placeholder-color: rgb(var(--text-color));

              --accent-color-second: #EDEEF1;
              --section-spacing: 4rem;

              --bages-sale-background-color: {{ settings.sale_background }};
              --badges-preorder-background-color: {{ settings.pre_order_background }};
              --badges-outstock-background-color: {{ settings.sold_out_background }};
              --badges-custom-background-color: {{ settings.custom_badge_background }};
              
              --badges-sale-color: {{ settings.sale_color }};
              --badges-preorder-color: {{ settings.pre_order_color }};
              --badges-outstock-color: {{ settings.sold_out_color }};
              --badges-custom-color: {{ settings.custom_badge_color }};
            }
            *,
            *::before,
            *::after {
              box-sizing: border-box;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-tap-highlight-color: transparent;
            }

            html {
              font-size: calc(var(--body-font-scale) * 62.5%);
            }

            body {
              min-height: 100vh;
              margin: 0;
              font-size: var(--body-font-size, 1.4rem);
              font-family: var(--body-font-family);
              font-style: var(--body-font-style);
              font-weight: var(--body-font-weight);
              color: rgb(var(--text-color));
              line-height: var(--body-line-height, calc(1 + 0.71428 / var(--body-font-scale)));
              -webkit-font-smoothing: antialiased;
              -webkit-text-size-adjust: 100%;
              text-rendering: optimizeSpeed;
              overflow-wrap: break-word;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
            }
            #MainContent{
              -webkit-flex-grow: 1;
              flex-grow: 1;
            }
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h0 {
              font-family: var(--heading-font-family);
              font-style: var(--heading-font-style);
              font-weight: var(--heading-font-weight);
              text-transform: var(--heading-text-transform);
              color: var(--heading-color);
              line-height: calc(1 + 0.3 / var(--heading-font-scale));
              word-break: break-word;
              letter-spacing: var(--heading-letter-spacing, 0);
            }
            .h0 {
              font-size: var(--h0-size);
              margin-block-start: calc(var(--h0-size) * 0.4);
              margin-block-end:  calc(var(--h0-size) * 0.4);
            }
            h1,.h1 {
              font-size: var(--h1-size);
              margin-block-start: calc(var(--h1-size) * 0.5);
              margin-block-end:  calc(var(--h1-size) * 0.5);
            }
            h2,.h2 {
              font-size: var(--h2-size);
              margin-block-start: calc(var(--h2-size) * 0.4);
              margin-block-end:  calc(var(--h2-size) * 0.4);
            }
            h3,.h3 {
              font-size: var(--h3-size);
              margin-block-start: calc(var(--h3-size) * 0.4);
              margin-block-end:  calc(var(--h3-size) * 0.4);
            }
            h4,.h4 {
              font-size: var(--h4-size);
              margin-block-start: calc(var(--h4-size) * 0.4);
              margin-block-end:  calc(var(--h4-size) * 0.4);
            }
            h5,.h5 {
              font-size: var(--h5-size);
              margin-block-start: calc(var(--h5-size) * 0.4);
              margin-block-end:  calc(var(--h5-size) * 0.4);
            }
            h6,.h6 {
              font-size: var(--h6-size);
              margin-block-start: calc(var(--h6-size) * 0.4);
              margin-block-end:  calc(var(--h6-size) * 0.4);
            }
            p{
              margin-top: 0;
              margin-block-end: calc(var(--body-font-scale) * 1.3 * var(--body-font-size));
            }
            a{
              color: var(--link-color);
              transition: var(--bls-transition);
              -webkit-transition: var(--bls-transition);
            }
            @media (min-width: 768px) {
              :root{
                --h0-size: calc(var(--heading-font-scale) * 6rem);
              }
            }
            @media (min-width: 1200px) {
              :root{
                --h0-size: calc(var(--heading-font-scale) * 7.2rem);
                --h1-size: calc(var(--heading-font-scale) * 4.8rem);
                --h2-size: calc(var(--heading-font-scale) * 3.6rem);
                --h3-size: calc(var(--heading-font-scale) * 3.2rem);
                --h4-size: calc(var(--heading-font-scale) * 2.6rem);
                --h5-size:  calc(var(--heading-font-scale) * 2.4rem);
                --heading-letter-spacing: {{ settings.heading_letter_spacing }};

                --btn-padding-y: 1.35rem;
                --btn-padding-x: 4.5rem;
                --input-height: 5rem;
              }
            }
    {% endstyle %}

    {%- unless settings.body_font.system? -%}
      {% # theme-check-disable AssetPreload %}
      <link rel="preload" as="font" href="{{ settings.body_font | font_url }}" type="font/woff2" crossorigin>
      {% # theme-check-enable AssetPreload %}
    {%- endunless -%}
    {%- unless settings.heading_font.system? -%}
      {% # theme-check-disable AssetPreload %}
      <link rel="preload" as="font" href="{{ settings.heading_font | font_url }}" type="font/woff2" crossorigin>
      {% # theme-check-enable AssetPreload %}
    {%- endunless -%}

    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="gradient gift-card">
    <header>
      <div class="gift-card__price">
        <h1>
          {% if settings.currency_code_enabled %}
            {{ gift_card.balance | money_with_currency }}
          {% else %}
            {{ gift_card.balance | money }}
          {% endif %}
        </h1>
        {%- if gift_card.enabled == false or gift_card.expired -%}
          <p class="badge badge--expired">{{ 'gift_cards.issued.expired' | t }}</p>
        {%- endif -%}
      </div>
      {% if gift_card.expires_on %}
        {%- assign gift_card_expiration_date = gift_card.expires_on | date: '%B %e, %Y' -%}
        <p class="gift-card__text">
          {{ 'gift_cards.issued.expiration_date' | t: expires_on: gift_card_expiration_date }}
        </p>
      {% endif %}
    </header>

    <main>
      <div class="gift-card__image-wrapper">
        {%- if settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {{ settings.logo | image_url: width: 570 | image_tag: class: 'gift-card__image', alt: logo_alt }}
        {%- else %}
          <img
            class="gift-card__image"
            src="{{ 'gift-card/card.svg' | shopify_asset_url }}"
            alt=""
            height="{{ 570 | divided_by: 1.5 }}"
            width="570"
            loading="lazy"
          >
        {%- endif %}
      </div>
      <h2 class="text-center">{{ shop.name }}</h2>
      <div class="gift-card__text-wrapper">
        <p class="gift-card__text">{{ 'gift_cards.issued.how_to_use_gift_card' | t }}</p>
      </div>
      <p id="gift-card-code" class="gift-card__number heading-color">{{ gift_card.code | format_code }}</p>
      <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
      {%- if gift_card.pass_url -%}
        <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet no-print text-center">
          <img
            src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}"
            width="120"
            height="40"
            alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}"
            loading="lazy"
          >
        </a>
      {%- endif -%}
      <div class="gift-card__buttons no-print">
        <span class="gift-card__copy-success form__message" role="status"></span>
        <template>
          {% render 'icon-checkmark', custom_width: 13 -%}
          {{ 'gift_cards.issued.copy_code_success' | t }}
        </template>
        <button class="button gift-card__copy-button">{{ 'gift_cards.issued.copy_code' | t }}</button>
        <a
          href="{{ shop.url }}"
          class="button button--secondary"
          target="_blank"
          rel="noopener"
          aria-describedby="a11y-new-window-message"
        >
          {{ 'gift_cards.issued.shop_link' | t }}
        </a>
      </div>
    </main>

    <div hidden>
      <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
    </div>
  </body>
</html>

<script>
  var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
  document.addEventListener('DOMContentLoaded', function() {
   new QRCode( document.querySelector('.gift-card__qr-code'), {
    text: document.querySelector('.gift-card__qr-code').dataset.identifier,
    width: 120,
    height: 120,
    imageAltText: string.qrImageAlt
    });
  });
  var template = document.getElementsByTagName("template")[0];
  var clonedTemplate = template.content.cloneNode(true);
  var isMessageDisplayed = false
  document
  .querySelector('.gift-card__copy-button')
  .addEventListener('click', () => {
    navigator.clipboard.writeText(document.getElementById('gift-card-code').innerText).then(function () {
      if (!isMessageDisplayed) {
        document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
        isMessageDisplayed = true
      }
    });
  });
</script>
